<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<script>
  function fnDocChoice(n) {
    location.href='/approval/documentList.html?formNo=' + n;
  }
</script>
<head th:replace="~{/layout/header::headFrag('workship 결재상신')}"></head>
<link rel="stylesheet" th:href="@{/css/mirae.css}">
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
      
        <div class="content-wrapper">
          <div class="doc-choice-wrapper">
            <span>결재양식 선택</span>
          </div>
          
          <div class="document-content-wrapper">
            <div class="document-area">
              <div>
                <span>결재양식 종류</span>
              </div>
              <ul>
                <li>
                  <span>휴가신청서</span>
                  <button class="btn btn-primary" onclick="fnDocChoice(1)">작성하기</button>
                </li> 
                <li>
                  <span>지출결의서</span>
                  <button class="btn btn-primary" onclick="fnDocChoice(2)">작성하기</button>
                </li> 
                <li>
                  <span>업무협조전</span>
                  <button class="btn btn-primary" onclick="fnDocChoice(3)">작성하기</button>
                </li> 
                <li>
                  <span>사직서</span>
                  <button class="btn btn-primary" onclick="fnDocChoice(4)">작성하기</button>
                </li> 
              </ul>
              
            </div> <!--/* document-area 끝나는 지점 */-->
           </div> <!--/* document-content-wrapper 끝나는 지점 */-->
        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>