<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('workship 프로젝트 작성')}"></head>
<script th:replace="~{/layout/common::datepickerSetting}"></script>
<script>
	function fnCancel() {
	  $('#btnCancel').on('click', function(){
	    history.back();
	  })
	}
	
	function fnRegist() {
		$('#btnRegist').on('click', function(){
			if(confirm('등록하시겠습니까') == false){
				return;
			}else{	
				$('#frmRegist').submit();
				alert('등록완료');
				return;
			}
		})
	}
	 $(function(){
	   fnRegist();
	   fnCancel();
	 })
</script>
<body>
  <div class="container-scroller">

    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>
  
    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
    
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        	<div class="ProjectAddWrap">
				<div class="ProjectWorkAddTitle">
					<h3>업무 등록</h3>
				</div>
				<style>
					.InputProjectWorkTitle {
						display: flex;
					}
				</style>
				<div class="formWrap">
					<form id ="frmRegist" method="post" th:action="@{/project/projectWorkAdd.do}">
						<div class="InputProjectWorkTitle">
							<label for="ProjectTitle">업무명</label>
							<input type="text" class="form-control p-input" id="ProjectWorkTitle" name="projectWorkTitle"  placeholder="" style="width: 50%" required>
						</div>
						<div class="Start">
							<label for="startDate">시작일</label>
							<input type="text" class="datepick" id="startDate" name="projectStartAt" style="width: 40%;" required>
		                    <label for="startDate"><i class="fa-regular fa-calendar" style="margin-left:-35px;"></i></label>
						</div>
						<div class="End">
		                    <label for="endDate">종료일</label>
		                    <input type="text" class="datepick" id="endDate" name="projectEndAt" style="width: 40%;" required>
		                    <label for="endDate"><i class="fa-regular fa-calendar" style="margin-left:-35px;"></i></label>
						</div>
						<div class="projectWorkDetail">
							<div>업무 내용</div>
							<textarea name="projectWorkDetail" rows="30px" cols="100px"></textarea>
						</div>
						<div class="Information">
							<input type="hidden" name="projectNo" th:value="${projectNo}" required>
							<input type="hidden" name="memberNo" th:value="${member.memberNo}" required>
							<input type="hidden" name="deptNo" th:value="${member.departmentDTO.deptNo}" required>
							<input type="hidden" name="ingNo" value="2" required>
						</div>
						<div>
							<button type="button" class="btn btn-primary" id="btnRegist">등록하기</button>
							<button type="button" class="btn btn-secondary" id="btnCancel">취소하기</button>
						</div>
					</form>
					<input id="PEnd" type="hidden" th:value="${projectDTO.projectEndAt}">
				</div>
				<script th:inline="javascript">
					function clock(){
					    var today = new Date();
					    var year = today.getFullYear();
					    var month = ('0' + (today.getMonth() + 1)).slice(-2);
					    var date = ('0' + today.getDate()).slice(-2);
					    var time = year + '-' + month + '-' + date;
						$('input[name=projectStartAt]').attr('value',time);
					    $('#startDate').text(time);
					}
					var PEnd = $('#PEnd').val();
					var startDate = $('#startDate');
					var endDate = $('#endDate');
					    startDate.datepicker({
					  	  maxDate: PEnd,
					  	  onClose: function(selectedDate){
					  		  endDate.datepicker('option', 'minDate', selectedDate);
					  	  }
					    });
					    endDate.datepicker({
					      maxDate: PEnd,	
					      onClose: function(selectedDate){
					      	startDate.datepicker('option', 'minDate', selectedDate);
					      }
					    });
					    clock();
				</script>
			</div>
        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>