<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

	<footer class="footer" th:fragment="footerFrag">
	  <div class="d-sm-flex justify-content-center justify-content-sm-between">
	    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
	    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted made with <i class="ti-heart text-danger ml-1"></i></span>
	  </div>
	  <div class="d-sm-flex justify-content-center justify-content-sm-between">
	    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span> 
	  </div>
	  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
	  <script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
	  <script th:src="@{/vendors/datatables.net/jquery.dataTables.js}"></script>
	  <script th:src="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
	  <script th:src="@{/js/dataTables.select.min.js}"></script>
	  <script th:src="@{/js/off-canvas.js}"></script>
	  <script th:src="@{/js/hoverable-collapse.js}"></script>
	  <script th:src="@{/js/template.js}"></script>
	  <script th:src="@{/js/settings.js}"></script>
	  <script th:src="@{/js/todolist.js}"></script>
	  <script th:src="@{/js/dashboard.js}"></script>
	</footer>

</html>