<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('게시판')}"></head>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<style>
  .blind {
    display: none;
  }
  .invisible {
    visibility: hidden;
  }
  .enable_link {
    cursor: pointer;
  }
  .pagination {
    margin: 0 5px;
  }
</style>
<script th:inline="javascript">

	var frm;
	var boardNo = /*[[${b.boardNo}]]*/ null;
	var page = 1; // 적절한 값으로 대체
	var emailId = /*[[${session.loginMember.emailId}]]*/ null;
	var boardCategory = /*[[${boardCategory}]]*/ null;
	console.log(boardCategory);
	$(function(){
	  let modifyResult = /*[[${modifyResult}]]*/ null;
	  if(modifyResult !== null){
	    if(modifyResult === 1) {
	      alert('게시글이 수정되었습니다.');
	    } else {
	      alert('게시글 수정에 실패했습니다.');
	    }
	  }
		  
	  frm = $('#frmBtn');
	  // 검색어 초기화
	  $('#column').on('change', function(){
	    $('#query').val('');
	  })
	  
	  fnPrev();
	  fnNext();
    fnAddComment();
    fnCommentList();
	})
	
	function fnRemoveComment(){
		
	}
	
	function fnPrev(){
		  $('#btnPrev').on('click', function(event){
			  let prevNo = /*[[${prevNo}]]*/ null;
			  if(prevNo == boardNo) {
				  alert('더 이상 이전 글이 없습니다.');
				  event.preventDefault();
				  return;
			  }
			  location.href='/board/boardDetail.html?boardNo=' + prevNo;
		  })
	}
	
	function fnNext(){
	  $('#btnNext').on('click', function(){
	    let nextNo = /*[[${nextNo}]]*/ null;
	      if(nextNo == boardNo) {
	        alert('더 이상 다음 글이 없습니다.');
	        event.preventDefault();
	        return;
	      }
	      location.href='/board/boardDetail.html?boardNo=' + nextNo;
	    })
	}
	
	function fnList() {
			$('#btnList').on('click', function(){
				let boardCategory = /*[[${boardCategory}]]*/ null;
				console.log(boardCategory);
 		  location.href = '/board/boardList.do?boardCategory=' + boardCategory;
			})
	}
	function fnWrite() {
		  location.href = '/board/boardWrite.html';
	}
	function fnEdit() {
		  frm.attr('action', '/board/boardEdit.html');
	  frm.submit();
	}
	function fnRemove() {
	  if(confirm('게시글을 삭제하면 모든 첨부 파일이 함께 삭제됩니다. 그래도 삭제하시겠습니까?') == false){
	      return;
	    }
	  frm.attr('action', '/board/removeBoard.do?boardCategory=' + boardCategory);
	  frm.submit();
	}
  function fnAddComment(){
		$('#btnAddComment').on('click', function(){
        if($('#commentContent').val() == ''){
          alert('댓글 내용을 입력하세요.');
          return;
        }
        $.ajax({
          type: 'post',
          url: '/boardComment/addComment.do',
          data: $('#frmAddComment').serialize(),
          dataType: 'json',
          success: function(resData){  // resData = {"isAdd": true}
            if(resData.isAdd){
              alert('댓글이 등록되었습니다.');
              $('#commentContent').val('');
              fnCommentList();  // 댓글 목록을 가져와서 화면에 만드는 함수
            }
          }
        })
      })
    }
    function fnCommentList(){
        $.ajax({
          type: 'get',
          url: '/boardComment/list.do',
          data: 'boardNo=' + boardNo + '&page=' + page,
          dataType: 'json',
          success: function(resData){  // resData = { "commentList": [{}, {}, ...], "pageUtil": {beginPage: 1, endPage: 5, ...} }
            /******************* 댓글 목록 만들기 *******************/
            $('#commentList').empty();
            $.each(resData.commentList, function(i, boardComment){
              var str = '<div>';
              if(boardComment.commentState == -1){
                if(boardComment.commentDepth == 0){                  
                  str += '<span>삭제된 댓글입니다.';
                } else {
                  str += '<span style="margin-left: 30px;">삭제된 답글입니다.';
                }
              } else {
                if(boardComment.commentDepth == 0){
                  str += '<span>';
                } else {
                  str += '<span style="margin-left: 30px;">';
                }
                str += boardComment.memberDTO.memberName;
                str += ' - ' + boardComment.commentContent;
                if(emailId != ''){
                  if(emailId == boardComment.memberDTO.emailId && boardComment.commentState == 1){
                     str += '<input type="button" value="삭제" class="btnCommentRemove" data-comment_no="' +
                     boardComment.commentNo +
                     '" onclick="fnRemoveComment(' +
                     boardComment.commentNo +
                     ')">';
                  } else if(emailId != boardComment.memberDTO.emailId && boardComment.commentDepth == 0){
                    str += '<input type="button" value="답글" class="btnOpenReply">';
                  }
                }
                str += '<div class="replyArea blind">';
                str += '  <form class="frmReply">';
                str += '    <input type="text"   name="commentContent"  class="replyContent" placeholder="답글을 작성해 주세요">';
                str += '    <input type="hidden" name="boardNo"   value="' + boardComment.boardNo + '">';
                str += '    <input type="hidden" name="commentGroupNo"  value="' + boardComment.commentGroupNo + '">';
                str += '    <input type="hidden" name="memberNo" value="${sessionScope.loginNo}">';  // 수업 때 잘못 구현한 부분
                str += '    <input type="button" value="답글작성완료" class="btnAddReply">';
                str += '  </form>';
                str += '</div>';
              }
            
              $('#commentList').append(str);
            });
          }
    });
    }
    function fnRemoveComment(commentNo) {
        if (confirm('댓글을 삭제하시겠습니까?')) {
          $.ajax({
            type: 'post',
            url: '/boardComment/removeComment.do',
            data: { commentNo: commentNo },
            dataType: 'json',
            success: function (resData) {
              if (resData.isRemove) {
                alert('댓글이 삭제되었습니다.');
                //fnCommentList();
                }
            }
          });
        }
    	history.go(0);
      }
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="board-main">
            <div class="board-title">
                <h2>게시판</h2>
            </div>
            
            <hr>
            
            <div class="board-detail ">
              <div class="page-button ">
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnPrev">이전</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnNext">다음</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btnList" onclick="fnList()">목록</button>
            </div>
           	<hr> 
            <div class="content-header"> 
                <h5 th:text="${b.boardTitle}"></h5>
                <div class="profile">
                  <!--/* <img th:src="@{/board/display.do(memberNo=${b.MemberDTO.memberNo})}"> */-->
                  <div th:text="|${b.MemberDTO.memberName} ${b.memberDTO.JobDTO.jobName}|"></div>
                  <div class="createDate" th:text="${#dates.format(b.boardCreatedAt, 'yyyy/MM/dd HH:mm')}"></div>
                  <!--/* <div class="modiDate" th:text="${#dates.format(b.boardModifiedAt, 'yyyy/MM/dd')}"></div>  */-->
                  <div class="boardHit">조회수 <span th:text="${b.boardHit}"></span></div>
                </div> 
            </div>
            <hr>
            <!--/* 게시판 내용 영역 */-->
            <div class="content-body" th:utext="${b.boardContent}"></div>
            
            
            <hr>
          	<div>
							<div id="commentList">
							</div>          	
          	</div>
          	<hr>
						<div>
						  <form id="frmAddComment">
						    <input type="text"   name="commentContent" id="commentContent" placeholder="댓글 작성해 주세요">
						    <input type="hidden" name="boardNo" th:value="${b.boardNo}">
						    <input type="hidden" name="memberNo" th:value="${session.loginMember.memberNo}">
						    <input type="button" value="작성완료" id="btnAddComment">
            	</form>
            <hr>
            	 
            <!--/* 다운로드 영역 */-->
            <div class="attachList">
              <th:block th:if="${#lists.isEmpty(boardFileList)}">
                <div><i class="fa-light fa-arrow-down-to-line fa-1x"></i>첨부된 파일이 없습니다.</div>
              </th:block>
              
              <th:block th:unless="${#lists.isEmpty(boardFileList)}">
                <th:block th:each="boardFile:${boardFileList}">
                  <div><i class="mdi mdi-download"></i><a th:href="@{/board/download.do(boardFileNo=${boardFile.boardFileNo})}"><span th:text="${boardFile.boardFileOriginName}"></span></a><span>(kb)</span></div>
                </th:block>
                  <div><a th:href="@{/board/downloadAll.do(boardNo=${b.boardNo})}">모두 다운로드</a></div>
              </th:block>
            </div>
            
            <div class="write-button">
              <form id="frmBtn" method="post">
                <input type="hidden" name="boardNo" th:value="${b.boardNo}">
                <!--/* 
                <th:block th:if="${session.deptName == '인사팀'}">
                </th:block>
                 */-->
                  <button type="button" class="btn btn-primary btn-rounded btn-sm" onclick="fnWrite()">새글쓰기</button>
                <!--/* 
                <th:block th:if="${session.emailId == b.MemberDTO.emailId}">
                </th:block>
                 */-->
                  <button type="button" class="btn btn-outline-secondary btn-rounded btn-sm" th:onclick="fnEdit()">수정</button>
                  <button type="button" class="btn btn-danger btn-rounded btn-sm" th:onclick="fnRemove()">삭제</button>
                  <input type="hidden" name="boardCategory" th:value="${boardCategory}">
                </form>
            </div>
            </div>
            </div> <!--/* board-detail 끝나는 지점 */-->
          </div> <!--/* board-main 끝나는 지점 */-->

        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>