<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('공지사항')}"></head>
<style>
  .blind {
    display: none;
  }
  .invisible {
    visibility: hidden;
  }
  .enable_link {
    cursor: pointer;
  }
  .pagination {
    margin: 0 5px;
  }
</style>
<script th:inline="javascript">
  
  // var loginId = sessionStorage.getItem("loginId");
  // var page = 1;
  
  /* function fnLoadNoticeList() {
    // 게시글 리스트 불러오기
    $.ajax({
    	type: 'get',
    	url: '/notice/noticeList2.do',
    	data: 'page=' + page,
    	dataType: 'json',
    	success: function(resData){
    		console.log(resData);
    		
    		let noticeBoardList = $('#noticeBoardList');
    		noticeBoardList.empty();  
        
        if(resData.noticeList === 0){
        	noticeBoardList.append('<tr><td colspan="5">현재 게시글이 없습니다.</td></tr>');
        } else {
          $.each(resData.noticeList, function(i, notice){ 
            let str = '<tr>';
            str += '<td>' + notice.noticeNo + '</td>';
            if(loginId == notice.memberDTO.emailId) {
            	str += '<td><a class="titleLink" href="/notice/increaseHit.do?noticeNo=' + notice.noticeNo +'">' + notice.noticeTitle + '</a></td>';
            } else {
              str += '<td><a class="titleLink" href="/notice/noticeDetail.html?noticeNo=' + notice.noticeNo +'">' + notice.noticeTitle + '</a></td>';
            }
            str += '<td>' + notice.memberDTO.memberName + ' ' + notice.memberDTO.jobDTO.jobName + '</td>';
            str += '<td>' + fnDateFormat(notice.noticeCreatedAt) + '</td>';
            str += '<td>' + notice.noticeHit + '</td>';
            noticeBoardList.append(str);
            
            $('.pagination').empty();
            var pageUtil = resData.pagination;
            var str2 = '<div>';
            // 이전 블록
            if(pageUtil.beginPage == 1){
              str2 += '<span class="invisible">◀</span>';
            } else {
              str2 += '<span class="enable_link pagination" data-page="' + (pageUtil.beginPage - 1) + '">◀</span>';
            }
            // 페이지 번호
            for(let p = pageUtil.beginPage; p <= pageUtil.endPage; p++){
              if(p == page){
                str2 += '<strong class="pagination">' + p + '</strong>';
              } else {
                str2 += '<span class="enable_link pagination" data-page="' + p + '">' + p + '</span>';
              }
            }
            // 다음 블록
            if(pageUtil.endPage == pageUtil.totalPage){
              str2 += '<span class="invisible">▶</span>';
            } else {
              str2 += '<span class="enable_link pagination" data-page="' + (pageUtil.endPage + 1) + '">▶</span>';
            }
            str2 += '</div>';
            $('.pagination').append(str2);
            
            
          })
        }
    		
    	}
    })
  }
  function fnDateFormat(nCreatedAt) {
	  var d = new Date(nCreatedAt),
    year = d.getFullYear(),
    month = '' + (d.getMonth() + 1), 
    day = '' + d.getDate();
    
    if (month.length < 2) month = '0' + month; 
    if (day.length < 2) day = '0' + day; 
    
    return [year, month, day].join('/');
  } */

	function fnWriteNotice() {
		location.href = '/notice/write.html';
	}

	
	$(function(){
    // 게시글 달기 결과 메시지
    let addResult = /*[[${addResult}]]*/ null;  // addResult가 전달되지 않는 경우 null을 사용한다.
    if(addResult !== null){
      if(addResult === 1) {
        alert('게시글이 작성되었습니다.');
      } else {
        alert('게시글 작성에 실패했습니다.');
      }
    }
    
    let removeResult = /*[[${removeResult}]]*/ null;  // addResult가 전달되지 않는 경우 null을 사용한다.
    if(removeResult !== null){
      if(removeResult === 1) {
        alert('게시글이 삭제되었습니다.');
      } else {
        alert('게시글 삭제에 실패했습니다.');
      }
    }
    
    // fnLoadNoticeList();
    // 검색어 초기화
		$('#column').on('change', function(){
			$('#query').val('');
		})
		
		
	})
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="board-main">
            <div class="board-title">
                <h3><a th:href="@{/notice/noticeList.do}">공지사항</a></h3>
            </div>
            
            <hr>
    
            <div class="board-table">
                <table border="1" id="listTable" class="table" align="center">
                    <thead>
                        <tr>
                            <th style="width: 50px;">게시글 번호</th>
                            <th style="width: 100px;">제목</th>
                            <th style="width: 50px;">작성자</th>
                            <th style="width: 50px;">작성일</th>
                            <th style="width: 50px;">조회수</th>
                        </tr>
                    </thead>
                    <tbody id="noticeBoardList">
                      <th:block th:if="${#lists.isEmpty(noticeList)}">
                        <tr> 
                          <td colspan="5">현재 게시글이 없습니다.</td>
                        </tr>
                      </th:block>
                      
                      <th:block th:unless="${#lists.isEmpty(noticeList)}">
                        <th:block th:each="notice:${noticeList}">
                          <th:block th:if="${notice.noticeState == 1}">
                            <tr class="list">
                              <td th:text="${notice.noticeNo}"></td>
                              <!--/* 본인이 작성한 공지사항은 조회수가 증가하지 않는다. */-->
                              <td th:if="${session.loginMember.emailId == notice.memberDTO.emailId}">
                                <a th:href="@{/notice/increaseHit.do(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeTitle}"></a>
                              </td>
                              <td th:unless="${session.loginMember.emailId == notice.memberDTO.emailId}">
                                <a th:href="@{/notice/noticeDetail.html(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeTitle}"></a>
                              </td>
                              <td th:text="|${notice.memberDTO.memberName} ${notice.memberDTO.jobDTO.jobName}|"></td>
                              <td th:text="${#dates.format(notice.noticeCreatedAt, 'yyyy/MM/dd HH:mm')}"></td>
                              <td th:text="${notice.noticeHit}"></td>
                            </tr>
                          </th:block>
                        </th:block>
                      </th:block>
                    </tbody>
                </table>
                
                <div class="searchWrap">
              		<form id="frmSearch" th:action="@{/notice/noticeList.do}">
              			<select name="column" id="column">
              				<option value="NOTICE_TITLE" selected="selected">제목</option>
              				<option value="NOTICE_CONTENT">내용</option>
              			</select>
              			<input type="text" name="query" id="query">
              			<button type="submit">검색</button>
              		</form>
                  <div class="writeWrap">
                    <input type="button" class="btn btn-primary btn-rounded btn-md" id="btnWrite" value="글쓰기" onclick="fnWriteNotice()">
                  </div>
                </div> <!--/* search_wrap 끝나는 지점 */-->
              
              <div class="pagination">
                <div id="pagination2" style="text-align: center;" th:utext="${pagination}"></div>  
              </div>
            </div> <!--/* board-table 끝나는 지점 */-->
          </div> <!--/* board-main 끝나는 지점 */-->

        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>