<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('공지사항')}"></head>
<style>
  .noticeMain a {
    text-decoration: none;
    color: black;
  }
  .subject:hover {
    text-decoration: underline;
    font-weight: 600;  
    cursor: pointer;
  }
  .deleteBtn {
    cursor: pointer;
  }
</style>
<script th:inline="javascript">
  
  var emailId = '';
  
  function fnFileCheck(vThis){
  
  	// 최대 크기 10MB
  	let maxSize = 1024 * 1024 * 10;
  	
  	// 첨부된 파일 목록
  	let files = vThis.files;
  	
  	// 첨부된 파일 순회(크기 체크 + 첨부된 파일명 표시)
  	$('#fileList').empty();
  	$.each(files, function(i, file){
  		
  		// 크기 체크
  		if(file.size > maxSize){
  			alert('각 첨부파일의 최대 크기는 10MB입니다.');
  			$(vThis).val('');  // 첨부된 파일을 모두 지운다.
  			$('#fileList').text('첨부 파일의 목록이 이 곳에 표시됩니다');
  			return;
  		}
  		
  		// 첨부된 파일명 표시
  		// 삭제 버튼
  		var deleteAll = '<button type="button" class="btn btn-outline-secondary btn-rounded btn-sm m-1 deleteAllBtn" onclick="deleteAll()">모두 삭제</span>';
  		// var insertFileDeletebtn = '<span class="btn-wrap" title="삭제"><span class="deleteFileBtn">X</span></span>';
  		// $('#fileList').append('<div>' + file.name + insertFileDeletebtn + '</div>');
  		$('#fileList').append('<div>' + file.name + '</div>');
  		$('#fileList').children('.deleteAllBtn').remove();
  		$('#fileList').append(deleteAll);
  		
  	})
  	
  }

  function fnAddNotice() {
	  if($('#noticeTitle').val() == '') {
      alert("제목을 입력해주세요.");
    } else if ($('#noticeContent').val() == '') {
      alert("내용을 입력해주세요.");
    } else {
      $('#frmWrite').submit();
    }
  }
	
  function fnList() {
  	location.href = '/notice/noticeMain.html';
  }
  
  function fnDateFormat(nCreatedAt) {
    var d = new Date(nCreatedAt),
    year = d.getFullYear(),
    month = '' + (d.getMonth() + 1), 
    day = '' + d.getDate();
    if (month.length < 2) month = '0' + month; 
    if (day.length < 2) day = '0' + day; 
    var date = [year, month, day].join('-');
    
    var hours = ('0' + d.getHours()).slice(-2); 
    var minutes = ('0' + d.getMinutes()).slice(-2);
    var seconds = ('0' + d.getSeconds()).slice(-2);
    var time = hours + ':' + minutes + ':' + seconds;

    
    return date + '&nbsp;' + time;
  } 
  
  
  $(function(){
	  deleteFile();
	  
	  emailId = $('#emailId').val();
    $('#files').change(function(){
      
      // 임시저장된 글 불러와서 첨부파일 변경할 경우 삭제하기 위해 파일 번호 넘기기
      if($("#fileNo").val() != ''){
        deleteFile();
      }
      
      // fileChange();
      
    })
  })
    
  
  $(function(){
    // 드래그 앤 드랍 함수
    
    $("#dropZone").on("dragenter", function(e){
          e.preventDefault();
          e.stopPropagation();
      }).on("dragover", function(e){
          e.preventDefault();
          e.stopPropagation();
          $(this).css("background-color", "#ddd");
      }).on("dragleave", function(e){
          e.preventDefault();
          e.stopPropagation();
          $(this).css("background-color", "white");
      }).on('drop', function(e){
      e.preventDefault();
      $(this).css("background-color", "white");
      
      // 드랍된 파일을 뽑아서 담아주기
      var files = e.originalEvent.dataTransfer.files;
      
      // input타입 객체의 파일을 드랍된 파일로 바꿔치기
      $(".input-file")[0].files = files;
      
      // 바뀐 파일을 li로 다시 뽑아주기
      fileChange();
    })
    
  })
  
  function deleteLi(){
    
    // input타입 file 객체 비워주기
    $(".input-file").val('');
    
    // li요소 지워주기
    $(".item-file").parent().remove();
    
  }
	
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="row">
            <div class="noticeMain h3 font-weight-bold col-12"><a th:href="@{/notice/noticeMain.html}">공지사항</a></div>
            <div class="col-md-12 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">공지사항 작성하기</p>
                    <hr>
                  
                  <div class="board-content" style="float: none; margin: 0 auto; padding: 15px 40px 5px; ">
                    <form id="frmWrite" method="post" enctype="multipart/form-data" th:action="@{/notice/addNotice.do}">
                      <div style="padding: 35px 30px 15px; border: 1px solid #CED4DA;">
                        <input type="hidden" name="noticeNo">
                        <div class="inputTitle form-group row" style="float: none; margin: 0 8px;">
                          <label class="col-sm-1 col-form-label text-center h4" for="noticeTitle"><h4>제목</h4></label>
                          <div class="col-sm-11"><input type="text" class="form-control" name="noticeTitle" id="noticeTitle" required="required"></div>
                        </div>
                        <div class="emailId form-group row" style="float: none; margin: 0 8px;">
                          <label class="col-sm-1 col-form-label text-center" for="emailId"><h4>작성자</h4></label>
                          <div class="col-sm-11"><input type="text" class="form-control" th:value="${member.memberName}" readonly></div>
                          <div><input type="hidden" name="emailId" id="emailId" th:value="${member.emailId}" readonly></div>
                        </div>
                        <!--/* 임시저장 리스트 보기 */-->
                        <div class="editor col">
                          <button type="button" class="btn btn-outline-secondary btn-rounded btn-sm" data-toggle="modal" data-target="#jyModal_confirm" onclick="saveList();">임시 저장된 글</button>
                        </div>
                        <div class="inputText col">
                          <textarea id="noticeContent" name="noticeContent" required="required" style="resize: none;"></textarea>
                        </div>
                        <script>
                      	  $('#noticeContent').summernote({
                            width: '100%',
                            height: 480,
                            lang: 'ko-KR',
                            toolbar: [
                              ['style', ['bold', 'italic', 'underline', 'clear']],
                              ['font', ['strikethrough', 'superscript', 'subscript']],
                              ['fontname', ['fontname']],
                              ['color', ['color']],
                              ['para', ['ul', 'ol', 'paragraph']],
                              ['table', ['table']],
                              ['view', ['fullscreen', 'codeview', 'help']]
                            ]
                          });
                        </script>
                        <div class="attchFile form-group row" style="float: none; margin: 0 8px;">
                          <label class="col-form-label text-center" for="files" style="padding-right:2px; width:10%;"><h5>파일첨부</h5></label>
                          <div class="col-10" style="padding: 8px"><input type="file" id="files" name="files" multiple="multiple" accept="undefined" onchange="fnFileCheck(this)"></div>
                          <div class="mx-3" id="fileList">첨부 파일의 목록이 이 곳에 표시됩니다</div>
                          <input type="hidden" name="fileNo" id="fileNo"> <!-- 임시저장된 글에서 불러온 첨부파일번호 -->
                          <input type="hidden" name="delFile" id="delFile"> <!-- 불러올 첨부파일 삭제할 때 넘기는 파일번호 -->
                          <input type="hidden" name="changeName" id="changeName"> <!-- 불러올 첨부파일 삭제할 때 넘기는 파일경로 -->
                        </div>
                        <div class="wrap-attach">
                          <ul class="file-wrap"></ul>
                          <ul class="img-wrap"></ul>
                        </div>
                      </div>
                      <div class="btnWrap col m-1">
                        <input type="button" class="btn btn-outline-secondary btn-rounded btn-md float-right mx-1" value="돌아가기" onclick="fnList()"> <!--/* 바로 전 목록으로 돌아가기 */-->
                        <input type="button" class="btn btn-outline-secondary btn-rounded btn-md btnSave float-right mx-1" value="임시저장">
                        <input type="button" class="btn btn-primary btn-rounded btn-md float-right mx-1" value="작성완료" onclick="fnAddNotice()">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 모달: 제목 있음 / 버튼 2개 -->
          <div class="modal" id="jyModal_confirm">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title">임시 저장된 글</h6>
                  <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="text-align: center;">
                  <ul class="list-line">
                        
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-jyok" id="realSpam" data-dismiss="modal">확인</button>
                </div>
              </div>
            </div>
          </div>
          <!-- 모달 끝 -->
          
          <script>
            function fileChange(){
              // 파일이름 li로 뽑아주는 함수
              
              let fileInput = $(".input-file")[0]; // input타입 객체 담기
            
              let file = fileInput.files; // file 리스트에 각각 담기 (한 개여도 리스트로 취급)
              
              let value = '<li>'
                    + '<span class="item-file">'
                    +   '<span class="btn-wrap" title="삭제">'
                    +     '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="deleteBtn" onclick="deleteLi();" viewBox="0 0 24 24" fill="none" stroke="#888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>'
                    +   '</span>'
                    +   '<span class="ic-file">'
                    +     '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(0, 135, 239)" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-slack"><path d="M22.08 9C19.81 1.41 16.54-.35 9 1.92S-.35 7.46 1.92 15 7.46 24.35 15 22.08 24.35 16.54 22.08 9z"></path><line x1="12.57" y1="5.99" x2="16.15" y2="16.39"></line><line x1="7.85" y1="7.61" x2="11.43" y2="18.01"></line><line x1="16.39" y1="7.85" x2="5.99" y2="11.43"></line><line x1="18.01" y1="12.57" x2="7.61" y2="16.15"></line></svg>'
                    +   '</span>'
                    +   '<span class="name">'
                    +     file[0].name
                    +   '</span>'
                    + '</span>'
                    + '</li>';
              
              $(".file-wrap").html(value);
              
            }
            
            
            $(document).ready(function() {
              $(document).on('click', '.btnSave', function() {
                
                // form 요소를 FormData로 만들기 (input 타입에 있는 값들 담김, 하지만 첨부파일은 담기지 않음)
                let formData = new FormData(document.getElementById('frmWrite'));
                
                // 첨부파일 뽑아서 변수에 담기
                let files = $('#files')[0].files;
                
                // FormData에 첨부파일도 더하기
                formData.append('file', files[0]);
                
                $.ajax({
                  type: 'post',
                  url: '/notice/tempSave.do',
                  data: formData,
                  processData: false,
                  contentType: false,
                  dataType: 'json',
                  success: function(data){
                    if(data.saveResult > 0 || data.saveUpdateResult > 0){
                      alert('게시글이 임시저장되었습니다.');
                      $('input[name=noticeNo]').val(data.noticeNo);
                    } else {
                      alert('게시글 임시저장에 실패하였습니다');
                    }
                    console.log('성공');
                  },error: function(){
                    console.log('실패');
                  }
                });
                
              })
            })
          
            function saveList(){
            	let list;
                $.ajax({
                	type: 'get',
                  url: '/notice/saveList.do',
                  data: 'emailId=' + emailId,
                  dataType: 'json',
                  success: function(resData){
                	  console.log(resData.saveList);
                    list = resData.saveList;
                    let value = '';
                    let lastNo = list.length - 1;
                    
                    if(list.length == 0){ // 조회된 list가 없을 때
                      
                      value += '<li class="last">'
                    	      +    '<div style="text-align:center">'
                            +      '<span>임시 저장된 글이 없습니다.</span>'
                            +    '</div>'
                  
                    } else { // 조회된 list가 있을 때
                      
                      if(list.length != 1){
                        for(var i = 0; i < list.length - 1; i++){
                          value += '<li>'
                              + '<div>'
                              +   '<input type="hidden" class="noticeNo" name="noticeNo" value="' + list[i].noticeNo + '">'
                              +   '<a onclick="selectSave($(this).prev());"><span class="subject">' + list[i].noticeTitle + '</span>'
                              +   '</a>'
                              +   '<span class="date">&nbsp;' + fnDateFormat(list[i].noticeCreatedAt) + '</span>'
                              +   '<span class="deleteBtn">&nbsp;'
                              +     'X'
                              +   '</span>'
                              + '</div>'
                              +'</li>';
                        }
                      }
                      
                      value += '<li class="last">'
                            + '<div>'
                            +   '<input type="hidden" class="noticeNo" name="noticeNo" value="' + list[lastNo].noticeNo + '">'
                            +   '<a onclick="selectSave($(this).prev());"><span class="subject">' + list[lastNo].noticeTitle + '</span>'
                            +   '</a>'
                            +   '<span class="date">&nbsp;' + fnDateFormat(list[lastNo].noticeCreatedAt) + '</span>'
                            +   '<span class="deleteBtn">&nbsp;'
                            +     'X'
                            +   '</span>'
                            + '</div>'
                            +'</li>';
                      
                    }
                    
                    $('.list-line').html(value);
                    
                  },error: function(){
                    console.log('임시저장 리스트 ajax 통신 실패');
                  }
                });
                
              }
              
              function selectSave(result){
                
                // 왜 여기서 $(this).prev().val()이 안 먹히는지 궁금함
                var noticeNum = result.val();
                
                $('#realSpam').click();
                
                $.ajax({
                	type: 'get',
                  url: '/notice/getSaveByNo.do',
                  data: 'noticeNo=' + noticeNum,
                  success: function(map){
                    
                    // notice 객체 뿌리기
                    $('input[name=noticeNo]').val(map.save.noticeNo);
                    
                    $('#noticeTitle').val(map.save.noticeTitle);
                    var noticeContent = map.save.noticeContent;
                    console.log('noticeContent : ' + noticeContent);
                    //$('#noticeContent').summernote('editor.insertText', noticeContent);
                    $('#noticeContent').text(noticeContent);
                    $(".note-editable").html(noticeContent);
                    
                    // 첨부파일 있으면 뿌리기
                    if(map.noticeFileList != null && map.noticeFileList.length != 0){
                    	let fileList = map.noticeFileList;
                    	let value = '';
                    	$('#fileList').empty();
                    	for(var i = 0; i < fileList.length; i++){
                      	console.log(map.noticeFileList);
                        // 파일번호, 파일이름 뿌리고
                        // 기존파일 삭제버튼 클릭시 input파일에 파일번호, 경로 넣어주기 => db에서 삭제 후 서버에서 삭제
                        // 기존파일 그대로 넘어가면 파일 변경할 필요 없음
                        // 파일 변경시 기존파일 삭제하기 위해 input파일에 파일번호, 경로 넘기고
                        // 새로운 input 넘기면 됨 (비교는 새로운 input값이 넘어오면 기존파일 삭제, 안 넘어오면 기존파일 그대로)
                        // 새로운 파일 선택해서 li 보여질 때 삭제버튼은 기존파일 삭제버튼과 다르게 지정(클래스 부여)
                        $("#fileNo").val(map.noticeFileList[i].noticeFileNo);
                        $("#changeName").val(map.noticeFileList[i].noticeFileSystemName);
                        value += '<li class="originFile">'
                        + '<span class="item-file">'
                     /* +   '<span class="btn-wrap" title="삭제">'
                        +     '<span class="deleteFileBtn">X</span>'
                        +   '</span>' */
                        +   '<span class="name">' 
                        +     map.noticeFileList[i].noticeFileOriginName
                        +   '</span>'
                        + '</span>'
                        + '</li>';
                    console.log(value);
                    	}
                    $('#fileList').append(value);
                    //$('.file-wrap').html(value);
                      
                    }else{
                      $('#fileNo').val('');
                      $('#changeName').val('');
                      $('.file-wrap').html('');
                    }
                    
                  },error: function(){
                    console.log('임시저장 게시글 ajax 통신 실패');
                  }
                });
                
              }
              
              $(document).ready(function() {
            	  $(document).on('click', '.deleteBtn', function() {
              	  var saveNoticeNo = $(this).closest('div').find('.noticeNo').val();
              	  console.log(saveNoticeNo);
              	  if(confirm('삭제?') == false) {
              		  return;
              	  }
              	  
              	  $.ajax({
              		  type: 'post',
              		  url: '/notice/deleteSave.do',
              		  data: 'noticeNo=' + saveNoticeNo,
              		  dataType: 'json',
              		  success: function(resData) {
            				  console.log(resData.deleteResult);
              			  if(resData.deleteResult){
              				  console.log('성공');
              				  $(this).parent().parent().parent().remove();
              				  $(document).ready(function(){
              					 saveList();
              				  });
              			  } else {
              				  console.log('실패');
              			  }
              		  }  
              	  })
            	  });
              });
              
          	  $(document).ready(function() {
                $(document).on('click', '.deleteFileBtn', function() {
              	  $(this).parent().parent().remove();
              	  $('#files').val('');
                })
              })
              function deleteAll() {
          		  $('#fileList').empty();
          		  $('#files').val('');
          	  }
              function deleteFile(){
            	  //$("#originFile").remove(); // li 요소 삭제
                
                const fileNo = $("#fileNo").val(); // 기존 파일 번호 변수에 담기
                $("#delFile").val(fileNo); // 삭제할 번호로 넘기기
                
                $("#fileNo").val(""); // 초기화
                
                console.log(fileNo);
                console.log($("#delFile").val()); // 삭제 후 다시 빈칸으로 돌려놓기 !!!!!!!!!!!!!!!!!!!!!!!!!
              } 
          </script>

        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>