<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('공지사항')}"></head>

<script th:inline="javascript">
  var frm;
  var noticeNo = /*[[${n.noticeNo}]]*/ null;
  
  $(function(){
    let modifyResult = /*[[${modifyResult}]]*/ null;
    if(modifyResult !== null){
      if(modifyResult === 1) {
        alert('게시글이 수정되었습니다.');
      } else {
        alert('게시글 수정에 실패했습니다.');
      }
    }
	  
    frm = $('#frmBtn');
    // 검색어 초기화
    $('#column').on('change', function(){
      $('#query').val('');
    })
    
    fnPrev();
    fnNext();
  })
  
  function fnPrev(){
	  $('#btnPrev').on('click', function(event){
		  let prevNo = /*[[${prevNo}]]*/ null;
		  if(prevNo == noticeNo) {
			  alert('더 이상 이전 글이 없습니다.');
			  event.preventDefault();
			  return;
		  }
		  location.href='/notice/noticeDetail.html?noticeNo=' + prevNo;
	  })
  }
  
  function fnNext(){
    $('#btnNext').on('click', function(){
      let nextNo = /*[[${nextNo}]]*/ null;
        if(nextNo == noticeNo) {
          alert('더 이상 다음 글이 없습니다.');
          event.preventDefault();
          return;
        }
        location.href='/notice/noticeDetail.html?noticeNo=' + nextNo ;
      })
  }
  
  function fnList() {
	  location.href = '/notice/noticeList.do';
  }
  function fnWrite() {
	  location.href = '/notice/write.html';
  }
  function fnEdit() {
	  frm.attr('action', '/notice/editNotice.html');
    frm.submit();
  }
  function fnRemove() {
    if(confirm('게시글을 삭제하면 모든 첨부 파일이 함께 삭제됩니다. 그래도 삭제하시겠습니까?') == false){
        return;
      }
    frm.attr('action', '/notice/removeNotice.do');
    frm.submit();
  }
	
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="board-main">
            <div class="board-title">
                <h3><a th:href="@{/notice/noticeList.do}">공지사항</a></h3>
            </div>
            
            <hr>
            
            <div class="board-detail">
              <div class="page-button">
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnPrev">이전</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnNext">다음</button>
                <button type="button" class="btn btn-outline-dark btn-sm" onclick="fnList()">목록</button>
              </div>
            
            <div class="content-header">
                <h5 th:text="${n.noticeTitle}"></h5>
                <div class="profile">
                  <!--/* <img th:src="@{/notice/display.do(memberNo=${n.MemberDTO.memberNo})}"> */-->
                  <div th:text="|${n.MemberDTO.memberName} ${n.memberDTO.JobDTO.jobName}|"></div>
                  <div class="createDate" th:text="${#dates.format(n.noticeCreatedAt, 'yyyy/MM/dd HH:mm')}"></div>
                  <!--/* <div class="modiDate" th:text="${#dates.format(n.noticeModifiedAt, 'yyyy/MM/dd')}"></div>  */-->
                  <div class="noticeHit">조회수 <span th:text="${n.noticeHit}"></span></div>
                </div>
            </div>
            
            <!--/* 게시판 내용 영역 */-->
            <div class="content-body" th:utext="${n.noticeContent}"></div>
            
            <hr>
              
            <!--/* 다운로드 영역 */-->
            <div class="attachList">
              <th:block th:if="${#lists.isEmpty(noticeFileList)}">
                <div><i class="fa-light fa-arrow-down-to-line fa-1x"></i>첨부된 파일이 없습니다.</div>
              </th:block>
              
              <th:block th:unless="${#lists.isEmpty(noticeFileList)}">
                <th:block th:each="noticeFile:${noticeFileList}">
                  <div><i class="mdi mdi-download"></i><a th:href="@{/notice/download.do(noticeFileNo=${noticeFile.noticeFileNo})}"><span th:text="${noticeFile.noticeFileOriginName}"></span></a><span>(kb)</span></div>
                </th:block>
                  <div><a th:href="@{/notice/downloadAll.do(noticeNo=${n.noticeNo})}">모두 다운로드</a></div>
              </th:block>
            </div>
            
            <div class="write-button">
              <form id="frmBtn" method="post">
                <input type="hidden" name="noticeNo" th:value="${n.noticeNo}">
                <!--/* 
                <th:block th:if="${session.deptName == '인사팀'}">
                </th:block>
                 */-->
                  <button type="button" class="btn btn-primary btn-rounded btn-sm" onclick="fnWrite()">새글쓰기</button>
                <!--/* 
                <th:block th:if="${session.loginId == n.MemberDTO.emailId}">
                </th:block>
                 */-->
                  <button type="button" class="btn btn-outline-secondary btn-rounded btn-sm" th:onclick="fnEdit()">수정</button>
                  <button type="button" class="btn btn-danger btn-rounded btn-sm" th:onclick="fnRemove()">삭제</button>
                </form>
            </div>
            
            </div> <!--/* board-detail 끝나는 지점 */-->
          </div> <!--/* board-main 끝나는 지점 */-->

        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>