<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('공지사항')}"></head>

<script th:inline="javascript">
  var frm;
  var noticeNo = /*[[${n.noticeNo}]]*/ null;
  
  $(function(){
    let modifyResult = /*[[${modifyResult}]]*/ null;
    if(modifyResult !== null){
      if(modifyResult === 1) {
        alert('게시글이 수정되었습니다.');
      } else {
        alert('게시글 수정에 실패했습니다.');
      }
    }
	  
    frm = $('#frmBtn');
    // 검색어 초기화
    $('#column').on('change', function(){
      $('#query').val('');
    })
    
    fnPrev();
    fnNext();
  })
  
  function fnPrev(){
	  $('#btnPrev').on('click', function(event){
		  let prevNo = /*[[${prevNo}]]*/ null;
		  if(prevNo == noticeNo) {
			  alert('더 이상 이전 글이 없습니다.');
			  event.preventDefault();
			  return;
		  }
		  location.href='/notice/noticeDetail.html?noticeNo=' + prevNo;
	  })
  }
  
  function fnNext(){
    $('#btnNext').on('click', function(){
      let nextNo = /*[[${nextNo}]]*/ null;
        if(nextNo == noticeNo) {
          alert('더 이상 다음 글이 없습니다.');
          event.preventDefault();
          return;
        }
        location.href='/notice/noticeDetail.html?noticeNo=' + nextNo ;
      })
  }
  
  function fnList() {
	  location.href = '/notice/noticeList.do';
  }
  function fnWrite() {
	  location.href = '/notice/write.html';
  }
  function fnEdit() {
	  frm.attr('action', '/notice/editNotice.html');
    frm.submit();
  }
  function fnRemove() {
    if(confirm('게시글을 삭제하면 모든 첨부 파일이 함께 삭제됩니다. 그래도 삭제하시겠습니까?') == false){
        return;
      }
    frm.attr('action', '/notice/removeNotice.do');
    frm.submit();
  }
	
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="board-main">
            <div class="board-title">
                <h3><a th:href="@{/notice/noticeList.do}">공지사항</a></h3>
            </div>
            
            <hr>
            
            <div class="board-detail">
              <div class="page-button">
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnPrev">이전</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" id="btnNext">다음</button>
                <button type="button" class="btn btn-outline-dark btn-sm" onclick="fnList()">목록</button>
              </div>
            
            <div class="content-header">
                <h5 th:text="${n.noticeTitle}"></h5>
                <div class="profile">
                  <!--/* <img th:src="@{/notice/display.do(memberNo=${n.MemberDTO.memberNo})}"> */-->
                  <div th:text="|${n.MemberDTO.memberName} ${n.memberDTO.JobDTO.jobName}|"></div>
                  <div class="createDate" th:text="${#dates.format(n.noticeCreatedAt, 'yyyy/MM/dd HH:mm')}"></div>
                  <!--/* <div class="modiDate" th:text="${#dates.format(n.noticeModifiedAt, 'yyyy/MM/dd')}"></div>  */-->
                  <div class="noticeHit">조회수 <span th:text="${n.noticeHit}"></span></div>
                </div>
            </div>
            
            <!--/* 게시판 내용 영역 */-->
            <div class="content-body" th:utext="${n.noticeContent}"></div>
            
            <hr>
              
            <!--/* 다운로드 영역 */-->
            <div class="attachList">
              <th:block th:if="${#lists.isEmpty(noticeFileList)}">
                <div><i class="fa-light fa-arrow-down-to-line fa-1x"></i>첨부된 파일이 없습니다.</div>
              </th:block>
              
              <th:block th:unless="${#lists.isEmpty(noticeFileList)}">
                <th:block th:each="noticeFile:${noticeFileList}">
                  <div><i class="mdi mdi-download"></i><a th:href="@{/notice/download.do(noticeFileNo=${noticeFile.noticeFileNo})}"><span th:text="${noticeFile.noticeFileOriginName}"></span></a><span>(kb)</span></div>
                </th:block>
                  <div><a th:href="@{/notice/downloadAll.do(noticeNo=${n.noticeNo})}">모두 다운로드</a></div>
              </th:block>
            </div>
            
            <div class="write-button">
              <form id="frmBtn" method="post">
                <input type="hidden" name="noticeNo" th:value="${n.noticeNo}">
                <!--/* 
                <th:block th:if="${session.deptName == '인사팀'}">
                </th:block>
                 */-->
                  <input type="hidden" id="refNo">
                  <button type="button" class="btn btn-primary btn-rounded btn-sm" onclick="fnWrite()">새글쓰기</button>
                  <button type="button" class="btn btn-danger btn-rounded btn-sm" data-toggle="modal" data-target="#jyModal_confirm">신고</button>
                <!--/* 
                <th:block th:if="${session.loginMember.emailId == n.MemberDTO.emailId}">
                </th:block>
                 */-->
                <!--/* 
                <th:block th:if="${session.loginMember.emailId != n.MemberDTO.emailId}">
                </th:block>
                 */-->
                  <button type="button" class="btn btn-outline-secondary btn-rounded btn-sm" th:onclick="fnEdit()">수정</button>
                  <button type="button" class="btn btn-danger btn-rounded btn-sm" th:onclick="fnRemove()">삭제</button>
                </form>
            </div>
            
            </div> <!--/* board-detail 끝나는 지점 */-->
          </div> <!--/* board-main 끝나는 지점 */-->
          
          <!--/* 신고하기 모달창 */-->
          <div class="modal" id="jyModal_confirm">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">신고하기</h4>
                  <button type="button" class="modal_close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body" style="text-align: left; padding-left: 30px;">
                  <p><b>신고사유를 선택해주세요</b></p>
                  <input type="hidden" id="reportContent">
                  <div class="form-check" style="display:block; margin-top:0.9em;">
                    <label for="a" class="form-check-label">
                    <input type="radio" id="a" name="rpRadio" class="rpRadio form-check-input" value="욕설이 포함된 게시글" checked>&nbsp;&nbsp;욕설이 포함된 게시글
                    </label>
                  </div>
                  <div class="form-check" style="display:block; margin-top:0.9em;">
                    <label for="b" class="form-check-label">
                    <input type="radio" id="b" name="rpRadio" class="rpRadio form-check-input" value="비하하거나 비방하는 내용의 게시글">&nbsp;&nbsp;비하하거나 비방하는 내용의 게시글
                    </label>
                  </div>
                  <div class="form-check" style="display:block; margin-top:0.9em;">
                    <label for="c" class="form-check-label">
                    <input type="radio" id="c" name="rpRadio" class="rpRadio form-check-input" value="부적절한 내용이 포함된 게시글">&nbsp;&nbsp;부적절한 내용이 포함된 게시글
                    </label>
                  </div>
                  <div class="form-check" style="display:block; margin-top:0.9em;">
                    <label for="etcBtn" class="form-check-label" style="display: block">
                    <input type="radio" id="etcBtn" name="rpRadio" class="rpRadio form-check-input" value="기타">&nbsp;&nbsp;기타
                    </label>
                  </div>
                  <textarea class="form-control" id="rpEtc" cols="48" rows="4" style="resize: none;" disabled></textarea>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-rounded btn-sm" id="realSpam" onclick="report();">신고</button>
                <button type="button" class="btn btn-outline-secondary btn-sm btn-jycancle" data-dismiss="modal">취소</button>
                </div>
              </div>
            </div>
          </div> <!--/* 신고하기 모달창 */-->
          
            
          <script th:inline="javascript">
          
            var reportRefNo = '';
            
            reportRefNo = /*[[${n.noticeNo}]]*/ null;
            console.log(reportRefNo);
            
            var emailId = /*[[${session.loginMember.emailId}]]*/ null;
            console.log(emailId);
            
            var inputReportContent = $('#reportContent');
            var reportContent = $('#a').val();
            console.log('rpRadio : ' + $('#a').val());
            inputReportContent.attr('value', reportContent);
            console.log('fd :' + inputReportContent.val());
            
            $(document).on("click", ".rpRadio", function(){
              
              if($(this).val() != '기타'){
              	reportContent = $(this).val();
              } else {
                $('#rpEtc').attr("disabled", false);
              	$('#rpEtc').focus();
                reportContent = $(this).parent().parent().next().val();
                console.log('reportContent1 :' + reportContent);
              }
              console.log('reportContent2 :' + reportContent);
              
              if($('#etcBtn').is(":checked")){
                $('#rpEtc').attr("disabled", false);
              } else {
                $('#rpEtc').attr("disabled", true);
              }
              
            })
            

            // 신고
            function report(){
              
          	  if(confirm('게시글을 신고하시겠습니까?') == false) {
              	return;
              }
          	  
              new Promise(function(resolve, reject){
                // 유저가 동일한 게시글을 신고한 이력이 있는지 조회
                $.ajax({
                	type: 'get',
                  url: '/report/reportCheck.do',
                  data: {
                	  boardNo: reportRefNo,
                    emailId: emailId
                  },
                  dataType: 'json',
                  success: function(resData){
                    if(resData.check == null){ // 이력 없음
                      reportRefNo = /*[[${n.noticeNo}]]*/ null;
                      
                      if($('#etcBtn').is(":checked")){
                      	if($('#rpEtc').val() == '') {
                      		$('#reportContent').val('기타');
                      	} else {
                          $('#reportContent').val($('#rpEtc').val());
                      	}
                        reportContent = $('#reportContent').val();
                        console.log(reportContent);
                      }
                      reportContent = $('#reportContent').val();
                      console.log(reportContent);
                      resolve();
                      
                    } else {   // 이력 있음
                      $('.btn-jycancle').click();
                    }
                  },
                  error: function(jqXHR){
                      reject(jqXHR); 
                  }
                })
              }).then(function(){
              	$.ajax({
              		type: 'post',
                  url: '/report/addReport.do',
                  data: {
                    boardNo: reportRefNo,
                    emailId: emailId,
                    reportContent: reportContent
                  },
                  dataType: 'json',
                  success: function(r){
                  	console.log('addReportSuccess');
                    if(r.isAdd > 0){
                      $('.btn-jycancle').click();
                      alert('신고가 접수되었습니다.');                        
                    } else {
                      console.log('신고 실패');
                    }
                  },
                  error: function(){
                    console.log('신고 ajax 실패');
                  }
                })
              }).catch(function(param){
              	console.log('신고 ajax1 실패');
              })
            }
            
          </script>
          
        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>