<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('사원 등록')}"></head>
<script>

  function isImageFile(file) {
      var ext = file.name.split(".").pop().toLowerCase(); // 파일명에서 확장자를 가져온다. 
      return ($.inArray(ext, ["jpg", "jpeg", "png"]) === -1) ? false : true;  // 베열에 요소가 없을 경우 -1 반환 : false
  }
    
  function isOverSize(file) {
      var maxSize = 3 * 1024 * 1024; // 3MB로 제한 
      return (file.size > maxSize) ? true : false;
  }

  function fnPreview() {
	  $('#attachImage').on('change', function(event) {
		  
		    var file = event.target.files[0];
		    if(file) {
  		    if(isImageFile(file) == false){
  		    	alert('이미지 파일이 아닙니다.');
  		    	$('#attachImage').val('');
  		    	$('#imagePreview').attr("src", '');
  		    	return;
  		    }
  		    if(isOverSize(file) == true){
  		    	alert('첨부파일이 3MB를 초과했습니다.');
  		    	$('#attachImage').val('');
  		    	$('#imagePreview').attr("src", '');
  		    	return;
  		    }
  		    
  		    var reader = new FileReader(); 
  		    reader.onload = function(e) {
            $('#imagePreview').attr('src', e.target.result);
  		    }
  		    reader.readAsDataURL(file);
		    } else {
          $('#imagePreview').attr('src', '/images/faces/face1.jpg');
		    }

	  })
  }
  function fnCancel() {
	  $('#btnCancel').on('click', function(){
		  history.back();
	  })
  }
  
  // 전역 변수 (각종 검사 통과 유무를 저장하는 변수)
  var verifyEmail = false;
  var verifyName = false;
  var verifyMobile = false;
  var verifyBirthday = false;
  var verifyPw = false;
  
  // 1. 이메일 검사 및 인증코드 전송
  function fnCheckEmail(){
    
    $('#emailId').on('keyup', function(){
      
      // 입력한 이메일
      let emailId = $('#emailId').val();
      let workship = '@workship.com';
      // 정규식 (5~15자, 소문자+숫자+하이픈(-)+밑줄(_) 사용 가능, 첫 글자는 소문자+숫자 사용 가능)
      let regEmail = /^[a-z0-9][a-z0-9-_]{4,14}[@]workship.com/;
      //
      //                  gt_min     @ naver         (.com)
      //                                             (.co)(.kr)
      
      // 정규식 검사 + @workship.com 이 알맞게 들어갔는지?
    		  console.log(emailId);
      verifyEmail = regEmail.test(emailId);
      if(verifyEmail == false){
        $('#msgId').text('이메일 형식이 올바르지 않습니다.').css('color', '#FF0000').css('font-size', '14px');  // 정규식 실패
        return;
      } 
      
      // 이메일 중복 체크
      $.ajax({
        type: 'get',
        url: '/member/verifyEmail.do',
        data: 'emailId=' + emailId,
        dataType: 'json',
        success: function(resData){  // resData = {"enableEmail": true} 또는 {"enableEmail": false}
          if(resData.enableEmail){
            $('#msgId').text('사용 가능한 이메일입니다.').css('color', '#0000FF').css('font-size', '14px');
          } else {
            $('#msgId').text('이미 사용 중인 이메일입니다.').css('color', '#FF0000').css('font-size', '14px');
          }
        }
      })
      
    })
  }
  
  // 2. 이름
  function fnCheckName(){
    
    $('#memberName').on('keyup', function(){
      verifyName = $(this).val() != '';
    })
    
  }
  
  // 3. 휴대전화
  function fnCheckMobile(){
    
    $('#tel').on('keyup', function(){
      
      // 입력한 휴대전화
      let mobile = $(this).val();
      
      // 정규식
      let regMobile = /^010[0-9]{7,8}$/;
      
      // 정규식 검사
      verifyMobile = regMobile.test(mobile);
      if(verifyMobile){
        $('#msgMobile').text('');
      } else {
        $('#msgMobile').text('휴대전화 입력을 확인하세요.');        
      }
      
    })
    
  }
  
  // 4. 생년월일
  function fnCreateDate(){
	  $('#birthday').on('keyup', function(){
  	  let birthday = $(this).val(); 
		  let regBirthday = /^(19[0-9][0-9]|20\d{2})(0[0-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$/;
		  verifyBirthday = regBirthday.test(birthday);
	  })
	  
  }
  
  // 5. 비밀번호 검사 (정규식)
  function fnCheckPw(){
    
    $('#pw').on('keyup', function(){
    
      // 입력한 비밀번호
      let pw = $(this).val();
      
      // 길이(4~20자) 및 정규식(소문자+대문자+숫자+특수문자 사용 가능, 3개 이상 조합)
      let pwLength = pw.length;
      let validCount = /[a-z]/.test(pw)         //   소문자를 가지고 있으면 true(1), 없으면 false(0)
                     + /[A-Z]/.test(pw)         //   대문자를 가지고 있으면 true(1), 없으면 false(0)
                     + /[0-9]/.test(pw)         //     숫자를 가지고 있으면 true(1), 없으면 false(0)
                     + /[^a-zA-Z0-9]/.test(pw); // 특수문자를 가지고 있으면 true(1), 없으면 false(0)
      verifyPw = (pwLength >= 4) && (pwLength <= 20) && (validCount >= 3);
      if(verifyPw){
        $('#msgPw').text('사용 가능한 비밀번호입니다.');
      } else {
        $('#msgPw').text('4~20자, 소문자+대문자+숫자+특수문자 사용 가능, 3개 이상 조합');
      }
    
    })
    
  }

  // 6. submit
  function fnJoin(){

    $('#frmMember').on('submit', function(event){
      
      if(verifyEmail == false){
        alert('이메일을 확인하세요.');
        event.preventDefault();
        return;
      } else if(verifyName == false){
        alert('이름을 확인하세요.');
        event.preventDefault();
        return;
      } else if(verifyMobile == false){
        alert('휴대전화번호를 확인하세요.');
        event.preventDefault();
        return;
      } else if(verifyBirthday == false){
        alert('생년월일을 확인하세요.');
        event.preventDefault();
        return;
      } else if(verifyPw == false){
        alert('비밀번호를 확인하세요.');
        event.preventDefault();
        return;
      } 
      
    })
    
  }
  $(function(){
    fnPreview();
    fnCancel();
    
    fnCheckEmail();
    fnCheckName();
    fnCheckMobile();
    fnCreateDate();
    fnCheckPw();
    fnJoin();
  })
  
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="member-main">
            <div class="member-title">
                <h3>사원 등록</h3>
            </div>
            
            <div class="formWrap">
              <form method="post" id="frmMember" enctype="multipart/form-data" th:action="@{/member/addMember.do}">
              
                <div class="profileImage">
                  <div class="imageFile">
                    <img class="rounded-circle" th:src="@{/images/faces/face1.jpg}" alt="profileImage" id="imagePreview" width="200px" height="200px">
                  </div>
                  <div class="attachImage">
                    <input type="file" class="form-control-file" id="attachImage" name="attachImage" accept=".jpg, .png" required>
                  </div>
                </div>
            
                <div class="inputEmail">
                    <label for="emailId">이메일</label>
                    <input type="text" class="form-control p-input" id="emailId" name="emailId" placeholder="" required>
                    <div id="msgId"></div>
                </div>
                <div class="inputName">
                    <label for="memberName">이름</label>
                    <input type="text" class="form-control p-input" id="memberName" name="memberName" required>
                </div>
                <div class="inputTel">
                    <label for="tel">휴대폰</label>
                    <input type="text" class="form-control p-input" id="tel" name="tel" placeholder="-를 제외한 숫자만 입력해주세요">
                    <div id="msgMobile"></div>
                </div>
                <div class="inputbirth">
                    <label for="birthday">생년월일</label>
                    <input type="text" class="form-control p-input" id="birthday" name="birthday" placeholder="yyyymmdd">
                </div>
                <div class="inputDeptJob">
                    <div>부서/직위 선택</div>
                    <div>
                      <select name="deptNo" class="dept" required>
                        <option value="">부서 선택</option>
                        <th:block th:each="dept:${deptList}">
                            <option th:value="${dept.deptNo}" th:text="${dept.deptName}"></option>
                        </th:block>
                      </select>        
                      <select name="jobNo" class="job" required>
                        <option value="">직위 선택</option>
                        <option value="6">사원</option>
                        <option value="5">대리</option>
                        <option value="4">과장</option>
                        <option value="3">차장</option>
                        <option value="2">부장</option>
                      </select>          
                    </div>
                </div>
                <div class="tempPw">
                  <div>임시 비밀번호</div>
                  <input type="text" class="form-control p-input" id="pw" name="pw" placeholder="임시 비밀번호를 입력해주세요" required> 
                  <div id="msgPw"></div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary" id="btnSubmit">등록하기</button>
                  <button type="button" class="btn btn-secondary" id="btnCancel">취소하기</button>
                </div>
              </form>
            </div> <!--/* formWrap 끝나는 지점 */-->
          </div> <!--/* member-main 끝나는 지점 */-->

        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>