<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('사원 정보 수정')}"></head>
<style>
  .memberMain a {
    text-decoration: none;
    color: black;
  }
  table {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  table tr .space1 {
    padding: 6px 0;
    border:none;
  }
  table tr .space {
    padding: 10px 0;
    border:none;
  }
  table tr th {
    padding-top: 8px;
    width: 15%;
  }
  table td:nth-of-type(1) { width: 25%; }
  table .imagetd {
    width: 40%;
  }
  #msgMobile {
   font-size: 14px;
   text-align: left;
   color: red;
  }
  #msgPw {
   font-size: 14px;
   text-align: left;
  }
  .pwWrap {
    position: relative;
    width: 100%;
  }
  .pwWrap input {
    width: 100%;
  }
  .pwWrap i {
    position : absolute;
    width: 30px;
    top: 22px;
    right: 22px;
    margin: 0;
    color: gray;
  }
</style>
<script th:inline="javascript">
  var frm;
  // 전역 변수 (각종 검사 통과 유무를 저장하는 변수)
  var verifyName = false;
  var verifyMobile = false;
  var verifyBirthday = false;
  var verifyPw = false;
  
  function isImageFile(file) {
      var ext = file.name.split(".").pop().toLowerCase(); // 파일명에서 확장자를 가져온다. 
      return ($.inArray(ext, ["jpg", "jpeg", "png"]) === -1) ? false : true;  // 베열에 요소가 없을 경우 -1 반환 : false
  }
    
  function isOverSize(file) {
      var maxSize = 3 * 1024 * 1024; // 3MB로 제한 
      return (file.size > maxSize) ? true : false;
  }

  function fnPreview() {
    $('#attachImage').on('change', function(event) {
      
        var file = event.target.files[0];
        if(file) {
          if(isImageFile(file) == false){
            alert('이미지 파일이 아닙니다.');
            $('#attachImage').val('');
            $('#imagePreview').attr("src", '');
            return;
          }
          if(isOverSize(file) == true){
            alert('첨부파일이 3MB를 초과했습니다.');
            $('#attachImage').val('');
            $('#imagePreview').attr("src", '');
            return;
          }
          
          var reader = new FileReader(); 
          reader.onload = function(e) {
            $('#imagePreview').attr('src', e.target.result);
          }
          reader.readAsDataURL(file);
        } else {
          $('#imagePreview').attr('src', '/images/faces/face1.jpg');
        }

    })
  }
  
  function fnModifyMember() {
	  $('#btnModify').on('click', function(event){
      frm.attr('action', '/member/modifyMember.do');
      if(verifyName == false){
        alert('이름을 확인하세요.');
        event.preventDefault();
        return;
      } else if(verifyMobile == false){
        alert('휴대전화번호를 확인하세요.');
        event.preventDefault();
        return;
      } else if(verifyBirthday == false){
        alert('생년월일을 확인하세요.');
        event.preventDefault();
        return;
      } else if(verifyPw == false){
        alert('비밀번호를 확인하세요.');
        event.preventDefault();
        return;
      } 
      console.log('수정하기::');
      frm.submit();
    })      
  }
  
  function fnRemoveMember() {
	  if(confirm('사원 정보를 정말로 삭제하시겠습니까?' + '\n' + '삭제후 필요한 정보만 퇴직 사원으로 저장됩니다.') == false){
	        return;
    }
    frm.attr('action', '/member/removeMember.do');
    frm.submit();
  }
  
  function fnCancel() {
    history.back();
  }
  
  // 1. 이름
  function fnCheckName(){
    verifyName = $('#memberName').val() != '';
    $(document).on('keyup', '#memberName', function(){
      verifyName = $(this).val() != '';
    })
    
  }
  
  // 2. 휴대전화
  function fnCheckMobile(){
    // 정규식
    let mobile = $('#tel').val();
    let regMobile = /^010[0-9]{7,8}$/;
    verifyMobile = regMobile.test(mobile);
    
    $('#tel').on('keyup', function(){
      
      // 입력한 휴대전화
      mobile = $(this).val();
      
      // 정규식 검사
      verifyMobile = regMobile.test(mobile);
      if(verifyMobile){
        $('#msgMobile').text('');
      } else {
        $('#msgMobile').text('휴대전화 입력을 확인하세요.');        
      }
      
    })
    
  }
  
  // 3. 생년월일
  function fnCreateDate(){
	  let birthday = $('#birthday').val();
	  let regBirthday = /^(19[0-9][0-9]|20\d{2})(0[0-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$/;
	  verifyBirthday = regBirthday.test(birthday);
    $('#birthday').on('keyup', function(){
      birthday = $(this).val(); 
      verifyBirthday = regBirthday.test(birthday);
    })
    
  }
  
  // 4. 비밀번호 검사 (정규식)
  function fnCheckPw(){
	  let pw = $('#pw').val();
	  pwLength = pw.length;
    validCount = /[a-z]/.test(pw)         //   소문자를 가지고 있으면 true(1), 없으면 false(0)
               + /[A-Z]/.test(pw)         //   대문자를 가지고 있으면 true(1), 없으면 false(0)
               + /[0-9]/.test(pw)         //     숫자를 가지고 있으면 true(1), 없으면 false(0)
               + /[^a-zA-Z0-9]/.test(pw); // 특수문자를 가지고 있으면 true(1), 없으면 false(0)
    verifyPw = (pwLength >= 4) && (pwLength <= 20) && (validCount >= 3);
    
    $('#pw').on('keyup', function(){
    
      // 입력한 비밀번호
      pw = $(this).val();
      
      // 길이(4~20자) 및 정규식(소문자+대문자+숫자+특수문자 사용 가능, 3개 이상 조합)
      let pwLength = pw.length;
      let validCount = /[a-z]/.test(pw)         //   소문자를 가지고 있으면 true(1), 없으면 false(0)
                     + /[A-Z]/.test(pw)         //   대문자를 가지고 있으면 true(1), 없으면 false(0)
                     + /[0-9]/.test(pw)         //     숫자를 가지고 있으면 true(1), 없으면 false(0)
                     + /[^a-zA-Z0-9]/.test(pw); // 특수문자를 가지고 있으면 true(1), 없으면 false(0)
      verifyPw = (pwLength >= 4) && (pwLength <= 20) && (validCount >= 3);
      if(verifyPw){
        $('#msgPw').text('사용 가능한 비밀번호입니다.').css('color', '#0000FF');
      } else {
        $('#msgPw').text('4~20자, 소문자+대문자+숫자+특수문자 사용 가능, 3개 이상 조합').css('color', '#FF0000');
      }
    
    })
    
  }
  
  $(document).ready(function(){
    $('.pwWrap i').on('click',function(){
      $('input').toggleClass('active');
      if($('input').hasClass('active')){
        $(this).attr('class',"fa fa-eye-slash fa-lg")
        .prev('input').attr('type',"text");
      }else{
        $(this).attr('class',"fa fa-eye fa-lg")
        .prev('input').attr('type','password');
      }
    });
  });

  $(function(){
    fnPreview();
    
    fnCheckName();
    fnCheckMobile();
    fnCreateDate();
    fnCheckPw();
    fnModifyMember();
    
    // 사원의 부서, 직위, 상태 db값으로 selected
    let deptNo = /*[[${m.departmentDTO.deptNo}]]*/ null;
    let jobNo = /*[[${m.jobDTO.jobNo}]]*/ null;
    let status = /*[[${m.status}]]*/ null; 
    $('.dept').val(deptNo).prop("selected", true);
    $('.job').val(jobNo).prop("selected", true);
    $('.status').val(status).prop("selected", true);
    
    frm = $('#frmDetail');
  })
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="row">
            <div class="col-md-12 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="memberMain h3 font-weight-bold"><a th:href="@{/member/member.html}">사원 조회</a></div>
                  
                  <div class="formWrap" style="padding: 50px 100px;">
                    <form id="frmDetail" method="post" enctype="multipart/form-data">
                      <table>
                        <tbody>
                          <tr>
                            <th colspan="3"><label for="memberNo">사원번호</label></th>
                            <td colspan="5">
                              <div>
                                <input type="text" class="form-control" id="memberNo" name="memberNo" th:value="${m.memberNo}" readonly>
                              </div>
                            </td>
                            <td class="imagetd" colspan="6" rowspan="3">
                              <div class="profileImage" style="width: 100%; height: 80%;">
                                <div class="imageFile">
                                  <img class="rounded-circle" th:src="@{/member/display.do(memberNo=${m.memberNo})}" alt="profileImage" id="imagePreview" width="200px" height="200px">
                                </div>  
                                <div class="attachImage" style="text-align: center;">
                                  <input type="file" class="form-control-file" id="attachImage" name="attachImage" accept=".jpg, .png">
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th colspan="3"><label for="emailId">이메일</label></th>
                            <td colspan="5">
                              <div>
                                <input type="text" class="form-control" id="emailId" name="emailId" th:value="${m.emailId}" readonly>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th colspan="3"><label for="joinedAt">입사일</label></th>
                            <td colspan="5">
                              <div>
                                <input type="text" class="form-control" id="joinedAt" name="joinedAt" th:value="${#dates.format(m.joinedAt, 'yyyy/MM/dd')}" readonly>
                              </div>
                            </td>
                          </tr>
                          <tr><td class="space1" colspan="14"></td></tr>
                          <tr>
                            <th colspan="3"><label for="memberName">이름</label></th>
                            <td colspan="11">
                              <div>
                                <input type="text" class="form-control" id="memberName" name="memberName" th:value="${m.memberName}">
                              </div>
                            </td>
                          </tr>
                          <tr><td class="space" colspan="14"></td></tr>
                          <tr>
                            <th colspan="3"><label for="tel">휴대폰</label></th>
                            <td colspan="11">
                              <div>
                                <input type="text" class="form-control" id="tel" name="tel" th:value="${m.tel}" placeholder="-를 제외한 숫자만 입력해주세요">
                                <div id="msgMobile"></div>
                              </div>
                            </td>
                          </tr>
                          <tr><td class="space" colspan="14"></td></tr>
                          <tr>
                            <th colspan="3"><label for="birthday">생년월일</label></th>
                            <td colspan="11">
                              <div>
                                <input type="text" class="form-control" id="birthday" name="birthday" th:value="${m.birthday}" placeholder="yyyymmdd">
                              </div>
                            </td>
                          </tr>
                          <tr><td class="space" colspan="14"></td></tr>
                          <tr>
                            <th colspan="3"><label>부서 선택</label></th>
                            <td colspan="4">
                              <div>
                                <select name="deptNo" class="dept form-control form-control-sm" required style="display:inline-block; width:150px;">
                                  <option value="">부서 선택</option>
                                    <th:block th:each="dept:${deptList}">
                                      <option th:value="${dept.deptNo}" th:text="${dept.deptName}"></option>
                                    </th:block>
                                </select>
                              </div>
                            </td>
                            <th colspan="3"><label>직위 선택</label></th>
                            <td colspan="4">
                              <div>
                                <select name="jobNo" class="job form-control form-control-sm" required style="display:inline-block; width:150px;">
                                  <option value="">직위 선택</option>
                                  <option value="6">사원</option>
                                  <option value="5">대리</option>
                                  <option value="4">과장</option>
                                  <option value="3">차장</option>
                                  <option value="2">부장</option>
                                  <option value="1">대표이사</option>
                                </select>
                              </div>
                            </td>
                          </tr>
                          <tr><td class="space" colspan="14"></td></tr>
                          <tr>
                            <th colspan="3"><label>직원 상태 선택</label></th>
                            <td colspan="4">
                              <div>
                                <select name="status" class="status form-control form-control-sm" required style="display:inline-block; width:150px;">
                                  <option value="">상태 선택</option>
                                  <option value="0">재직</option>
                                  <option value="1">출장</option>
                                  <option value="2">교육</option>
                                  <option value="3">휴가</option>
                                  <option value="4">퇴직</option>
                                </select>
                              </div>
                            </td>
                            <td colspan="7"></td>
                          </tr>
                          <tr><td class="space" colspan="14"></td></tr>
                          <tr>
                            <th colspan="3"><label for="memberNo">임시 비밀번호</label></th>
                            <td colspan="11">
                              <div class="pwWrap">
                                <input type="password" class="form-control" id="pw" name="pw" th:value="${m.pw}" placeholder="임시 비밀번호를 입력해주세요" required>
                                <i class="fa fa-eye fa-lg"></i>
                                <div id="msgPw"></div>
                              </div>
                            </td>
                          </tr>
                          <tr><td class="space" colspan="14"></td></tr>
                          <tr>
                          <td colspan="14">
                            <div>
                              <button type="button" class="btn btn-primary btn-rounded m-1" id="btnModify">수정하기</button>
                              <button type="button" class="btn btn-danger btn-rounded m-1" id="btnRemove" onclick="fnRemoveMember()">삭제하기</button>
                              <button type="button" class="btn btn-secondary btn-rounded m-1" id="btnCancel" onclick="fnCancel()">취소하기</button>
                            </div>
                          </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>