<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('사원 조회')}"></head>
<style>
  .memberMain a {
    text-decoration: none;
    color: black;
  }
  .gubunTab > ul {
    width:100%;
    height: 50px; 
    list-style-type: none; 
    margin: 0 auto; 
    padding:0;
  }
  .gubunTab > ul > li {
    float:left; 
    height:50px; 
    line-height: 55px; 
    text-align:center;
  }
  .gubunTab > ul > li a{
    text-decoration: none; 
    color:black; 
    font-size: 18px; 
    font-weight: 500;
  }
  .gubunTab > ul > li a:hover{
    font-size: 18px; 
    text-decoration: underline;
    font-weight: 900;
  }
  .membertr td .rounded-circle {
    width: 24px;
    height: 24px;
  }
  .membertr td a{
    text-decoration: none;
    color: black;
  }
  .membertr td a:hover {
    font-weight: 600;
    text-decoration: underline;
  }
  .blind {
    display: none;
  }
  .hidden {
    visibility: hidden;
  }
  .enable_link {
    cursor: pointer;
  }
  .pagination {
    margin: 0 5px;
    display: flex;
  }
</style>
<script th:inline="javascript">
  var page = 1;
  var dept;
  function fnLoadListByDept(deptNo) {
	  if(deptNo !== undefined) {
		  query = deptNo;
	  }
    var column = 'D.DEPT_NO';
	  
	  new Promise(function(resolve, reject){
      $.ajax({
        type: 'get',
        url: '/member/memberList2.do',
        data: 'column=' + column + '&query=' + query + '&page=' + page,
        dataType: 'json',
        success: function(resData) {
          $('#pagination').empty();
          var pageUtil = resData.pageUtil; 
          console.log(pageUtil);
          console.log('beginPage :' + pageUtil.beginPage);
          console.log('endPage :' + pageUtil.endPage);
          console.log('totalPage :' + pageUtil.totalPage);
          if(page > pageUtil.totalPage) {
          	page = pageUtil.totalPage;
          }
          console.log('page :' + page);
          var str2 = '<nav><ul class="pagination pagination-sm justify-content-center">';
          if(pageUtil.beginPage == 1){
            str2 += '<li class="page-item disabled"><span class="page-link text-secondary">이전</span></li>';
          } else {
            str2 += '<li class="page-item"><span class="enable_link page-link" data-query="' + query + '" data-page="' + (pageUtil.beginPage - 1) + ">이전</span></li>";
          }
          for(let p = pageUtil.beginPage; p <= pageUtil.endPage; p++){
            if(p == page){
              str2 += '<li class="page-item active"><a class="page-link">' + p + '</a></li>';
            } else {
              str2 += '<li class="page-item"><a class="enable_link page-link" data-query="' + query + '" data-page="' + p + '">' + p + '</a></li>';
            }
          }
          if(pageUtil.endPage == pageUtil.totalPage){
            str2 += '<li class="page-item disabled"><span class="page-link text-secondary">다음</span></li>';
          } else {
            str2 += '<li class="page-item"><span class="enable_link page-link" data-query="' + query + '" data-page="' + (pageUtil.endPage + 1) + '>다음</span></li>';
          }
          str2 += '</ul></nav>';
          console.log(str2);
          $('#pagination').append(str2);
          
          resolve();
          
        }
  
      })
		  
	  }).then(function(){
  	  $.ajax({
	      type: 'get',
	      url: '/member/memberList2.do',
	      data: 'column=' + column + '&query=' + query + '&page=' + page,
	      dataType: 'json',
	      success: function(resData) {
	    	  let memberListbody = $('#memberListbody');
	    	  let memberhead = $('#memberhead');
	          
          memberhead.empty();  
          memberListbody.empty();

          let head = '<tr>';
          head += '<th style="width: 50px;">사원번호</th>';
          head += '<th style="width: 80px;">사원명</th>';
          head += '<th style="width: 80px;">부서명</th>';
          head += '<th style="width: 80px;">직위</th>';
          head += '<th style="width: 100px;">입사일</th>';
          head += '<th style="width: 80px;">상태</th>';
          head += '</tr>'
          memberhead.append(head);
          
	    	  if(resData.memberList === 0){
	    		  memberListbody.append('<tr><td colspan="6">현재 사원이 없습니다.</td></tr>');
          } else {
            $.each(resData.memberList, function(i, member){ 
              let str = '<tr class="membertr">';
              let status;
              switch(member.status){ 
                case 0: status = '재직'; break; 
                case 1: status = '교육'; break; 
                case 2: status = '출장'; break; 
                case 3: status = '휴가'; break; 
                case 4: status = '퇴직'; break; 
                default: status = '';
              }
              str += '<td>' + member.memberNo + '</td>';
              if(member.profileFilePath == null) {
                str += '<td><a href="/member/memberDetail.html?memberNo=' + member.memberNo +'">' + member.memberName + '</td>';
              } else {
                str += '<td><img class="rounded-circle" src="/member/display.do?memberNo=' + member.memberNo + '"><a href="/member/memberDetail.html?memberNo=' + member.memberNo +'">' + member.memberName + '</td>';
              }
              str += '<td>' + member.departmentDTO.deptName + '</td>';
              str += '<td>' + member.jobDTO.jobName + '</td>';
              str += '<td>' + fnDateFormat(member.joinedAt) + '</td>';
              str += '<td>' + status + '</td>';
              str += '</tr>'
              memberListbody.append(str);
          
            })
          }
	      }
  	  })
    })
    
  }
  
  function fnLoadRetiredList(){
	  $.ajax({
          type: 'get',
          url: '/member/retiredMemberList.do',
          data: 'page=' + page,
          dataType: 'json',
          success: function(resData) {
            let memberListbody = $('#memberListbody');
            let memberhead = $('#memberhead');
        
            memberhead.empty();  
            memberListbody.empty();
            
            let head = '<tr>';
            head += '<th>사원번호</th>';
            head += '<th>사원명</th>';
            head += '<th>전화번호</th>';
            head += '<th>입사일</th>';
            head += '<th>퇴사일</th>';
            head += '</tr>'
            memberhead.append(head);
        
            if(resData.memberList === 0){
              memberListbody.append('<tr><td colspan="6">현재 사원이 없습니다.</td></tr>');
            } else {
              $.each(resData.memberList, function(i, member){
                let str = '<tr>';
                str += '<td>' + member.retiredMemberNo + '</td>';
                str += '<td>' + member.memberName +'</td>';
                str += '<td>' + fnTelFormat(member.tel) + '</td>';
                str += '<td>' + fnDateFormat(member.joinedAt) + '</td>';
                str += '<td>' + fnDateFormat(member.retiredAt) + '</td>';
                str += '</tr>'
                memberListbody.append(str);
                
              })
            }

              $('#pagination').empty();
    	        var pageUtil = resData.pageUtil; 
    	        console.log(pageUtil);
    	        console.log('beginPage :' + pageUtil.beginPage);
    	        console.log('endPage :' + pageUtil.endPage);
    	        console.log('totalPage :' + pageUtil.totalPage);
    	        if(page > pageUtil.endPage) {
    	          page = pageUtil.endPage
    	        }
    	        console.log('page :' + page);
    	        var str2 = '<nav><ul class="pagination pagination-sm justify-content-center">';
                if(pageUtil.beginPage == 1){
                  str2 += '<li class="page-item disabled"><span class="page-link text-secondary">이전</span></li>';
                } else {
                  str2 += '<li class="page-item"><span class="enable_link page-link" data-page="' + (pageUtil.beginPage - 1) + ">이전</span></li>";
                }
                for(let p = pageUtil.beginPage; p <= pageUtil.endPage; p++){
                  if(p == page){
                    str2 += '<li class="page-item active"><a class="page-link">' + p + '</a></li>';
                  } else {
                    str2 += '<li class="page-item"><a class="enable_link page-link" data-page="' + p + '">' + p + '</a></li>';
                  }
                }
                if(pageUtil.endPage == pageUtil.totalPage){
                  str2 += '<li class="page-item disabled"><span class="page-link text-secondary">다음</span></li>';
                } else {
                  str2 += '<li class="page-item"><span class="enable_link page-link" data-page="' + (pageUtil.endPage + 1) + '>다음</span></li>';
                }
                str2 += '</ul></nav>';
    	        console.log(str2);
    	        $('#pagination').append(str2);
	        
	      }

	    })
  }
  
  function fnChangePage(){
      $(document).on('click', '.enable_link', function(){
        page = $(this).data('page');
        query = $(this).data('query');
        console.log('page : ' + page);
        console.log('query : ' + query);
        fnLoadListByDept(query);
      })
  }
  
  function fnDateFormat(nCreatedAt) {
    var d = new Date(nCreatedAt),
    year = d.getFullYear(),
    month = '' + (d.getMonth() + 1), 
    day = '' + d.getDate();
    
    if (month.length < 2) month = '0' + month; 
    if (day.length < 2) day = '0' + day; 
    
    return [year, month, day].join('/');
  } 
  
  function fnTelFormat(tel) {
	  // 특수문자 제거
	  const value = tel.replace(/[^0-9]/g, '');
	  
	  // 00 OR 000 지정
	  const firstLength = value.length > 9 ? 3 : 2;

	  // ({2,3}) - ({3,4}) - ({4})
	  return [
	    value.slice(0, firstLength),
	    value.slice(firstLength, value.length - 4),
	    value.slice(value.length - 4),
	  ].join('-');
	}

  $(function(){
	  // 사원 등록 성공 메시지
    let addResult = /*[[${addResult}]]*/ null;
    if(addResult !== null){
      if(addResult === 1) {
        alert('사원이 정상적으로 등록되었습니다.');
      } else {
        alert('사원 등록에 실패했습니다.');
      }
    }  
	  // 사원 정보 수정 결과 메시지
    let modifyResult = /*[[${modifyResult}]]*/ null;
    console.log(modifyResult);
    if(modifyResult !== null){
      if(modifyResult === 1) {
        alert('사원 정보가 수정되었습니다.');
      } else {
        alert('사원 정보 수정에 실패했습니다.');
      }
    }
    // 사원 정보 삭제 결과 메시지
    let removeResult = /*[[${removeResult}]]*/ null;   // removeResult가 전달되지 않는 경우 null을 사용한다.
    console.log('removeResult ::' + removeResult);
    if(removeResult !== null){
      if(removeResult === 1) {
        alert('사원 정보가 삭제되었습니다.');
      } else {
        alert('사원 삭제에 실패했습니다.');
      }
    }
  })
  fnChangePage();
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
        
          <div class="row">
            <div class="col-md-12 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="memberMain h3 font-weight-bold"><a th:href="@{/member/member.html}">사원조회</a></div>
            
                  <div class="gubunTab">
                    <ul>
                     <li style="width: 80px;"><a th:href="@{/member/member.html}">전체</a></li>
                      <th:block th:if="${#lists.isEmpty(deptList)}">
                    	</th:block>
                      <th:block th:if="${not #lists.isEmpty(deptList)}">
                        <th:block th:each="dept:${deptList}">
                    		  <li style="width: 100px;"><a href="javascript:void(0);" th:text="${dept.deptName}" th:onclick="fnLoadListByDept([[${dept.deptNo}]])"></a></li>
                        </th:block>
                    	</th:block>
                      <li style="width: 100px;"><a href="javascript:void(0);" th:onclick="fnLoadRetiredList()">퇴직자</a></li>
                    </ul>
                  </div>
                  
                  <div class="memberList">
                    <table id="listTable" class="table table-hover text-center">
                      <thead id="memberhead">
                        <tr>
                          <th style="width: 50px;">사원번호</th>
                          <th style="width: 80px;">사원명</th>
                          <th style="width: 80px;">부서명</th>
                          <th style="width: 80px;">직위</th>
                          <th style="width: 100px;">입사일</th>
                          <th style="width: 80px;" class="status">상태</th>
                        </tr>
                      </thead>
                      <tbody id="memberListbody">
                        <th:block th:if="${#lists.isEmpty(memberList)}">
                          <tr>
                            <td colspan="6">현재 사원이 없습니다.</td>
                          </tr>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(memberList)}">
                          <th:block th:each="member:${memberList}">
                            <tr class="membertr">
                              <td class="no" th:text="${member.memberNo}"></td>
                              <td>
                              <th:block th:if="${member.profileFilePath == null}">
                                <a th:href="@{/member/memberDetail.html(memberNo=${member.memberNo})}" th:text="${member.memberName}"></a>
                              </th:block>
                              <th:block th:if="${member.profileFilePath != null}">
                                <img class="rounded-circle" th:src="@{/member/display.do(memberNo=${member.memberNo})}"><a th:href="@{/member/memberDetail.html(memberNo=${member.memberNo})}" th:text="${member.memberName}"></a>
                              </th:block>
                              </td>
                              <td th:text="${member.departmentDTO.deptName}"></td>
                              <td th:text="${member.jobDTO.jobName}"></td>
                              <td th:text="${#dates.format(member.joinedAt, 'yyyy/MM/dd')}"></td>
                              <td>
                                <th:block th:switch="${member.status}">
                                  <span th:case="0">재직</span>
                                  <span th:case="1">출장</span>
                                  <span th:case="2">교육</span>
                                  <span th:case="3">휴가</span>
                                  <span th:case="4">퇴직</span>
                                </th:block>
                              </td>
                            </tr>
                          </th:block>
                        </th:block>
                      </tbody>
                    </table>
                  </div> <!--/* memberList 끝나는 지점 */-->
                  <div class="searchWrap text-center" style="margin: 1rem;">
                    <form id="frmSearch" th:action="@{/member/member.html}">
                      <select class="form-control form-control-sm" name="column" id="column" style="display:inline-block; width:110px;">
                        <option value="M.MEMBER_NO">사원번호</option>
                        <option value="M.MEMBER_NAME" selected="selected">사원명</option>
                        <option value="D.DEPT_NAME">부서명</option>
                      </select>
                      <input class="form-control form-control-sm col-3" type="text" name="query" id="query" style="display:inline-block;" placeholder="검색어를 입력해주세요.">
                      <button type="submit" class="btn btn-primary">검색</button>
                    </form>
                  </div>
                  <div>
                    <div id="pagination" style="text-align: center;" th:utext="${pagination}"></div>
                    <!--/* <div class="pagination" style="text-align: center;" th:utext="${pagination}"></div> */-->
                  </div>
            
                </div>
              </div>
            </div>
          </div>
          
        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>