<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::headFrag('workship 일정관리')}"></head>
<link rel="stylesheet" th:href="@{/css/yoobin.css(ver=1.0)}">
<script th:src="@{/fullcalendar/lib/main.js}"></script>
<script th:src="@{/fullcalendar/lib/ko.js}"></script>
<link rel="stylesheet" th:href="@{/fullcalendar/lib/main.css}">

<!--/* 일정 등록 모달 */-->
<div class="modal fade" id="addScheduleModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center">새로운 일정 등록하기</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" onclick="fnAddSchedule()">등록하기</button>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="container-scroller">

    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>
  
    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
    
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
          
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            	headerToolbar: {
            		left: 'prev,next today',
            		center: 'title',
            		right: 'dayGridMonth,listMonth'
            	},
            	locale: 'ko',
              initialView: 'dayGridMonth',
              themeSystem: 'bootstrap',
              aspectRatio: 1.5,
              firstDay: 1,
              selectable: true,
              selectMirror: true,
              navLinks: true,
              editable: true,
              
              select: function(arg){
            	  
              }
            });
            calendar.render();
          });
        </script>
        
        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>