<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<nav class="mailSidebar" th:fragment="mailSidebarFrag">
	<div>
		<h3><strong>메일</strong></h3>
		
		<div class="btnWrite" >
			<input type="button" value="메일 쓰기" onclick="fnWrite()">
		</div>
		<script>
			function fnWrite() {
				location.href = '/mail/write.html';
			}
		</script>
		
		<div class="mailFilter">
			<a class="filter" th:href="@{/mail/noread.html}">
				<span class="count"><strong>1</strong></span>
				<span class="text">안읽음</span>
			</a>
			<a class="filter" th:href="@{/mail/starred.html}">
				<span class="count"><strong>6</strong></span>
				<span class="text">중요</span>
			</a>
		</div>
		
		
		<h4><strong>메일함</strong></h4>
		
		<ul class="list-group">
		  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
		    <a th:href="@{/mail/rlist.html}">
		    	<i class="fa-regular fa-envelope menu-icon"></i>
		    	받은 메일함
		    	<span class="badge bg-primary rounded-pill text-white">1</span>
		    </a>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
		    <a th:href="@{/mail/slist.html}">
		    	<i class="fa-regular fa-paper-plane"></i>
		    	보낸 메일함
		    	<span class="badge bg-primary rounded-pill text-white">0</span>
		    </a>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
		    <a th:href="@{/mail/dlist.html}">
		    	<i class="fa-regular fa-file"></i>
		    	임시 보관함
		    	<span class="badge bg-primary rounded-pill text-white">0</span>
		    </a>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
		    <a th:href="@{/mail/plist.html}">
		    	<i class="fa-solid fa-ban"></i>
		    	스팸 메일함
		    	<span class="badge bg-primary rounded-pill text-white">6</span>
		    </a>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-center border-0">
		    <a th:href="@{/mail/tlist.html}">
		    	<i class="fa-regular fa-trash-can"></i>
		    	휴지통
		    	<span class="badge bg-primary rounded-pill text-white">27</span>
		    </a>
		  </li>
		</ul>
	</div>
	
		<div class="mailSetting">
			<i class="fa-solid fa-gear"></i> 메일 환경설정 
		</div>
	</nav>
</html>