@charset "UTF-8";

.project_list1 > a:nth-of-type(1) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list1 > a:nth-of-type(2) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list1 > a:nth-of-type(3) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list1 > a:nth-of-type(4) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list1 > a:nth-of-type(5) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
#line {
	border: 0;
	height: 2px;
	background: rgb(128, 128, 128);
	width: 1355px;
	margin-left: 0px;
}
.project_list2 > a:nth-of-type(1) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(2) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(3) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(4) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(5) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(6) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(7) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(8) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(9) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.project_list2 > a:nth-of-type(10) {
	width: 250px;
	height: 320px;
	display: inline-block;
	background-color: white;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 2px 2px gray;
	background-image: linear-gradient(to right, rgb(179, 194, 223) 16%, white 16%);
	text-align: center;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
}
.allproject {
	display: flex;
}
#projectsearch {
	margin-left: 713px;
	border: 1px solid gray;
	border-radius: 10px 0px 0px 10px;
}
.allproject > button {
	outline: none;
	border: 1px solid gray;
	border-radius: 0px 10px 10px 0px;
	background-color: white;
}






