<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="modalFrag" class="modal fade" id="addrModal" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
	
		<div class="modal-content"> 		 
			<div class="modal-body">	
											        		
	       		<div class="searchBox">
	       			<div class="addSearch">
	        			<select name="column" id="column">
	        				<option value="memberName">사원명</option>
	        				<option value="jobName">직위명</option>
	        				<option value="deptName">부서명</option>
	        				<option value="emailId">이메일</option>
	        			</select>
	        			<input list="auto_complete" type="text" name="query" id="query">
	        			<button><i class="fa-solid fa-magnifying-glass"></i></button>	        			
	       			</div>
	       			<div class="searchResult">
	        			<div id="memberList">
	        				<span>사원명</span>
	        				<span>직위명</span>
	        				<span>부서명</span>
	        				<span>이메일</span>
	        			</div>	        			
	       			</div>
	       		</div>
			        		
	       		<div class="addressee">
	       			<div class="toNormal">
	       				<div class="btnBox">
	        				<button class="btnChoice"><i class="fa-solid fa-circle-chevron-right"></i></button>
	        				<button class="btnCancel"><i class="fa-solid fa-circle-chevron-left"></i></button>        				
	       				</div>
	       				<div class="receiverChoice">
	       					<h4><strong>받는사람</strong></h4>
		       				<div class="result">
		        				<!-- 받는 사람 -->    				
		       				</div>
	       				</div>
	       			</div>
	       			<div class="ccBox">
	       				<div class="btnBox">
	        				<button class="btnChoice"><i class="fa-solid fa-circle-chevron-right"></i></button>
	        				<button class="btnCancel"><i class="fa-solid fa-circle-chevron-left"></i></button>        				
	       				</div>
	       				<div class="receiverChoice">
	       					<h4><strong>참조</strong></h4>
		       				<div class="result">
		        				<!-- 참조 -->        				
		       				</div>
	       				</div>
	       			</div>
	       			<div class="bccBox">
	       				<div class="btnBox">
	        				<button class="btnChoice"><i class="fa-solid fa-circle-chevron-right"></i></button>
	        				<button class="btnCancel"><i class="fa-solid fa-circle-chevron-left"></i></button>        				
	       				</div>
	       				<div class="receiverChoice">	       				
	       					<h4><strong>숨은참조</strong></h4>
		       				<div class="result">
		        				<!-- 숨은 참조 -->       				
		       				</div>
	       				</div>
	       			</div>
	       		</div>    		
	   		</div>
	   		
	  		<div class="modal-footer">
	  			<button type="button" class="btn btn-primary">등록</button>
	  			<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
	  		</div>
		</div> 			    	
   	</div>		       	        	
</div>