<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('workship 받은메일함')}"></head>
<link rel="stylesheet" th:href="@{/css/mail/sidebar.css(var=1.0)}">
<link rel="stylesheet" th:href="@{/css/mail/rlist.css(var=1.0)}">

<body>
  <div class="container-scroller">
  
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>
 
    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
    
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>
      
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
      
   		<nav th:replace="~{/mail/layout/mailsidebar::mailSidebarFrag}"></nav>
   		
        <div class="content-wrapper">
        <!--/* 
          이 안에 div로 잘 구성해서 내용 넣어주시면 됩니다!
          샘플 메인페이지 div 구성은 indexSample.html(바로아래파일)에 남겨두었고,
          참고할 만 한 html 파일들은 static/pages 에 있습니다!
        */-->
        	
        	<!-- 메일 제목 및 읽은 메일 체크 -->
        	<form id="frmList" method="post" action="@{/mail/search.do}">
        	
	        	<div class="info">
	        		<span class="title">받은 메일함</span>
	        		<div class="readMail">
	        			<span>전체 메일</span><span th:text="${totalRecord}"></span> / <span>읽은 메일</span> 1
	        		</div>
	        	</div>
	        	
        		<div class="contents">
        		
        			<!-- 메일 이동 및 검색창 구현 -->
        			<div class="contentCheck">
        			
        				<!-- 메일 이동 -->
        				<div class="category">
        					<div>
        						<label for="chk_all" id="lbl_chk_all"></label>
        						<input type="checkbox" id="chk_all" class="screen_out">
        					</div>
        					<div>
        						<label for="chkStar" id="lblChkStar"></label>
        						<input type="button" value="중요" id="chkStar" onclick="fnStar()">
        					</div>
        					<div>
        						<label for="chkRead" id="lblChkRead"></label>
        						<input type="button" value="읽음" id="chkRead" onclick="fnRead()">
        					</div>
        					<div>
        						<label for="chkRemove" id="lblChkRemove"></label>
        						<input type="button" value="삭제" id="chkRemove" onclick="fnRemove()">
        					</div>
        					<div>
        						<label for="chkSpam" id="lblChkSpam"></label>
        						<input type="button" value="스팸" id="chkSpam" onclick="fnSpam()">
        					</div>
        					<div>
        						<label for="chkReply" id="lblChkReply"></label>
        						<input type="button" value="답장" id="chkReply" onclick="fnReply()">
        					</div>
        					<div>
        						<label for="chkForward" id="lblChkForward"></label>
        						<input type="button" value="전달" id="chkForward" onclick="fnForward()">
        					</div>
        				</div>
       					<div class="search">
       						<select name="searchColumn" id="searchColumn">
       							<option value="mailTo">보낸사람</option>
       							<option value="mailTitle">메일제목</option>
       						</select>
       						<input list="auto_complete" type="text" name="searchQuery" id="searchQuery">
	        				<button><i class="fa-solid fa-magnifying-glass"></i></button>
       					</div>
        			</div>
        		</div>
        		
        		<!-- 메일리스트 뿌리기 -->
       			<div class="contentList">
      					<div class="searchResult">
      						<datalist id="auto_complete"></datalist>
      					</div>	        					
      					<!-- 메일이 없는 경우 -->
      					<th:block th:if="${#lists.isEmpty(rmailList)}">
      						<h5>받은 메일이 없습니다.</h5>
      					</th:block>
      					<!-- 메일이 있는 경우 -->
      					<th:block th:if="${not #lists.isEmpty(rmailList)}">
        				<th:block th:each="rmail:${rmailList}">
	        				<ul>
	        					<li class="rmailContent">
	        						<div class="rmailCheck">
		        						<div>
		        							<label th:for="|chk_one${rmail.mailDTO.mailNo}|" class="lbl_chk_one"></label>
		        							<input type="checkbox" th:id="|chk_one${rmail.mailDTO.mailNo}|" class="chk_one screen_out" name="rmailList" th:value="${rmail.mailDTO.mailNo}">
		        						</div>
		        						<div class="mailStar" id="mailStar">
		        							<input type="radio" name="mailStar" value="Y" id="starState"><label for="starState">★</label>
		        						</div>
		     							<div class="mailRead" id="mailRead">
		        							<input type="radio" name="mailRead" value="Y" id="readState"><label for="readState"><i class="fa-solid fa-envelope-open"></i></label>
		        						</div>		        						
	        						</div>
	        						<div style="width:25%" th:text="${rmail.mailDTO.memberDTO.emailId}"></div>
	        						<div th:text="${rmail.mailDTO.mailTitle}"></div>
	        						<div th:text="${rmail.mailDTO.mailDate}"></div>
	        					</li>
	        				</ul>        						
       					</th:block>
       				</th:block>
       			</div>
       			
        	</form>
        	
        	<div class="pagination" th:utext="${pagination}"></div>
        	
        	<script>
				
				$(function(){
					fnChkAll();
					fnChkOne();
					fnRemoveList();
				})
				
				// 전체선택 체크박스
				function fnChkAll(){
					$('#chk_all').on('click', function(){
						$('.chk_one').prop('checked', $(this).prop('checked'));
					})
				}
				
				// 개별선택 체크박스
				function fnChkOne(){
					let chkOne = $('.chk_one');  // 모든 개별선택
					chkOne.on('click', function(){
						let chkCnt = 0;
						for(let i = 0; i < chkOne.length; i++){
							chkCnt += $(chkOne[i]).prop('checked');
						}
						$('#chk_all').prop('checked', chkCnt == chkOne.length);
					})
				}
				
				// 선택 항목 삭제
				function fnRemoveList(){
					$('#frm_remove_list').on('submit', function(event){
						if($('.chk_one:checked').length == 0){
							alert('선택된 게시글이 없습니다.');
							event.preventDefault();
							return;
						}
						if(confirm('선택한 게시글을 모두 삭제할까요?') == false){
							event.preventDefault();
							return;
						}
					})
				}
				
			</script>

        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 
  
</body>
</html>