<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('workship 메일쓰기')}"></head>

<link rel="stylesheet" th:href="@{/css/mail/sidebar.css(var=1.0)}">
<link rel="stylesheet" th:href="@{/css/mail/write.css(var=1.0)}">
<link rel="stylesheet" th:href="@{/css/mail/address.css(var=1.0)}">
<script th:src="@{/summernote-0.8.18-dist/summernote-lite.min.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js}"></script>

<body>
  <div th:replace="~{/mail/address::modalFrag}"></div>
  
  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
   		<nav th:replace="~{/mail/layout/mailsidebar::mailSidebarFrag}"></nav>
   	
        <div class="content-wrapper">
        <!--/* 
          이 안에 div로 잘 구성해서 내용 넣어주시면 됩니다!
          샘플 메인페이지 div 구성은 indexSample.html(바로아래파일)에 남겨두었고,
          참고할 만 한 html 파일들은 static/pages 에 있습니다!
        */-->
        
        	  

        	<div class="info">
        		<span class="title">메일 쓰기</span>
        		<span><input type="button" value="임시 보관함" id="btnDraftsList"></span>
        	</div>
        	
        	<script>
        	
        		function fnDraftsList() {
        			$('#btnDraftsList').on('click', function(){
        				if(confirm('이 페이지를 벗어나면 작성중인 내용은 저장되지 않습니다.\n그래도 이동하시겠습니까?')) {
	        				location.href = '/mail/list.html?Category=DRAFTS';        					
        				}        				
        			})
        		}
        		
        		$(function(){
        			fnDraftsList();
        		})        		
        	</script>        	
        	
       		<form method="post" id ="frmSend" enctype="multipart/form-data" th:action="@{/mail/sendMail.do}">

        		<div class="header">
        		
        			<button class="btn" id="sentMail">보내기</button>
        			<input class="btn" type="button" value="임시 저장" id="btnDraft">
        			<input class="btn" type="reset" value="다시 작성" id="btnReset">
        		</div>
        		
        		<script>
        		
        			$(function(){
        				fnSendMail();
        				fnAddDrafts();
        				fnReset();
        			});
        			
        			function fnSendMail(){
        				$('#sentMail').on('click', function(event){
        					if($('.to-li').length === 0) {
        						alert('받는사람이 지정되지 않았습니다.\n받는사람 주소를 입력해주세요.');
        						event.preventDefault();
        						return;
        					}
        					
        					if($('#title').val() == '') {
        						alert('제목이 작성되지 않았습니다.\n제목을 입력해주세요.');
        						event.preventDefault();
        						return;
        					}
        					
        					if(confirm('메일을 발송하시겠습니까?')) {              						
        						$('#frmSend').submit();        						
        					} else {  
        						event.preventDefault();
        					    return;
        					
        					}
        					
        				})
        			};
        			
        			function fnAddDrafts(){
        				$('#btnDraft').on('click', function(event){
        					if($('.to-li').length === 0) {
        						alert('받는사람이 지정되지 않았습니다.\n받는사람 주소를 입력해주세요.');
        						event.preventDefault();
        						return;
        					}
        					
        					if($('#title').val() == '') {
        						alert('제목이 작성되지 않았습니다.\n제목을 입력해주세요.');
        						event.preventDefault();
        						return;
        					}
        					
	        				if(confirm('메일을 임시보관함에 저장하시겠습니까?')) {
	        						return
	        					} else {
	        						event.preventDefault();
	        					}
        				})        				
        			};
        			
        			function fnReset() {
        				$('#btnReset').on('click', function(event) {
        					if(confirm('확인을 누르시면 작성중인 내용이 모두 지워집니다.\n그래도 진행하시겠습니까?')) {
	        					$('#fileList').empty();
	        					$('#fileList').html('선택된 파일이 없습니다.');
	        					$('#content').summernote('code', '');
	        					$(".to-li").remove();
								$(".cc-li").remove();
								$(".bcc-li").remove();
        					} else {
        						event.preventDefault();
        						return;
        					}        					
        				})		
        				
        			};	

        		</script>
        		
        		<table class="contents">
        			<tbody class="mailcontent">        			
	        			<tr class="mailBox">
	        				<td class="fixedCol1">
	        					<a>받는사람</a>
	        					<th:block th:if="${Type == 'NORMAL'}">
	        					</th:block>	        					
	        						<input type="hidden" name="receiver" id="receiver" value="">
	        				</td>     
	        				   		
		        			<td class="fixedCol2">
		        				<div class="mailInputWrap">
		        					<div id="toAddrWrap" class="mailInput">
		        						<ul class="receiverBox">
			        						<li class="mailAddrCreate">
			        							<div class="addrInput">
			        								<textarea id="to" name="to" onkeyup="if(event.keyCode==13||event.keyCode==188){toBlock(event)}"></textarea>
			        							</div>
			        						</li>        					
		        						</ul>
		        					</div>	 		        			    								
		        				</div>
		        			</td>
		        			<td class="fixedCol3">
		        				<input type="button" value="주소록" class="btn btn-primary" id="addrList"  data-toggle="modal" data-target="#addrModal">
		        			</td>
		        		</tr>	
		        		
		        		<tr class="mailBox">
		        			<td class="fixedCol1">
		        				<a>참조</a>
		        				<th:block th:if="${Type == 'NORMAL'}">
	        					</th:block>	   
	        						<input type="hidden" name="mailRef" id="mailRef" value="">
		        			</td>
		        			<td colspan="2" class="fixedCol2">
		        				<div class="mailInputWrap">
		        					<div id="ccAddrWrap" class="mailInput">
		        						<ul class="receiverBox">
			        						<li class="mailAddrCreate">
			        							<div class="addrInput">
			        								<textarea id="cc" name="cc" onkeyup="if(event.keyCode==13||event.keyCode==188){ccBlock(event)}"></textarea>
			        							</div>
			        						</li>	        						
		        						</ul>
		        					</div>
		        				</div>
		        			</td>
		        		</tr>	
		        		
		        		<tr class="mailBox">
		        			<td class="fixedCol1">
		        				<a>숨은참조</a>
		        				<th:block th:if="${Type == 'NORMAL'}">
	        					</th:block>	 
	        						<input type="hidden" name="mailBlind" id="mailBlind" value="">
		        			</td>
		        			<td colspan="2" class="fixedCol2">
		        				<div class="mailInputWrap">
		        					<div id="bccAddrWrap" class="mailInput">
		        						<ul class="receiverBox">
			        						<li class="mailAddrCreate">
			        							<div class="addrInput">
			        								<textarea id="bcc" name="bcc" onkeyup="if(event.keyCode==13||event.keyCode==188){bccBlock(event)}"></textarea>
			        							</div>
			        						</li>	        						
		        						</ul>
		        					</div>
		        				</div>
		        			</td>
		        		</tr>
		        		
		        		<script>
		        		
		      				/* 받는사람 13(엔터) 188(쉼표) */
		       				function toBlock(event) {
		       					
		       					if(event.keyCode == 13) {
		       						var addr = $('#to').val().replace('\n', '');
		       					} else if(event.keyCode == 188) {
		       						var addr = $('#to').val().replace(',', '');
		       					}
		       					
		       					if(checkAddr(addr) == false) {
		       						$('#to').val('');
		       						return;
		       					}
		       					
		       					if(checkToMail(addr) == false) {
		       						$('#to').val('');
		       						return;
		       					}
		       				
		       					let value = '';
		       					value += '<li class="mailAddrOut to-li">';
		       					value += '<span class="addrBlock">';
		       					value += addr;
		       					value += '</span>';
		       					value += '<span class="btnAddrRemove">';
		       					value += '<i class="fa-solid fa-xmark"></i>';
		       					value += '</span>';
		       					value += '</li>';
		       						  
		       					$('#to').val('');
		       					$('#toAddrWrap .mailAddrCreate').before(value);		       					
		       
		       					var currTo = $('#receiver').val() || '';
		       					$('#receiver').val(currTo.length > 0 ? currTo + "," + addr : addr);
		       					
		       					toLimit();
		       				}

		      				/* 주소 중복체크(받는사람) */			      				
		       				function checkToMail(addr) {
		       					var currToArr = $('#receiver').val().split(',');
		       					var currCcArr = $('#mailRef').val().split(',');
		       					var currBccArr = $('#mailBlind').val().split(',');
		       					
		       					if(currToArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#to').val('');
		       						return false;
		       					} else if(currCcArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#to').val('');
		       						return false;
		       					} else if(currBccArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#to').val('');
		       						return false;	
		       					} else {
		       						return true;
		       					}
		       				}
		      			
		       				
		       				/* 주소 삭제(받는사람)  */
		       				$(document).on('click', '#toAddrWrap .fa-xmark', function(){
		       					
		       					$(this).parent().parent().remove();
		       					
		       					let currToArr = $('#receiver').val().split(',');
		       					
		       					let deleteTo = $(this).parent().prev().text().replace('\n', '');
		       					
		       					currToArr.splice(currToArr.indexOf(deleteTo), 1);
		       					
		       					$('#receiver').val(currToArr.join());
		       					
		       					toLimit();
		       					
		       				})
		       				
		       				/* 받는사람 인원 제한 */
		       				function toLimit() {
		       					if(document.querySelectorAll('.to-li').length >= 5) {
		       						$('#to').prop("readonly", true);
		       						alert('최대 5명까지만 발송이 가능합니다.');
		       					} else {
		       						$('#to').prop('readonly', false);
		       					}
		       				}
		       				
		       				
		       				/* 참조 13(엔터) 188(쉼표) */			      				
		       				function ccBlock(event) {
		       					
		       					if(event.keyCode == 13) {
		       						var addr = $('#cc').val().replace('\n', '');
		       					} else if(event.keyCode == 188) {
		       						var addr = $('#cc').val().replace(',', '');
		       					}
		       					
		       					if(checkAddr(addr) == false) {
		       						$('#cc').val('');
		       						return;
		       					}
		       					
		       					if(checkCcMail(addr) == false) {
		       						$('#cc').val('');
		       						return;
		       					}
		       			
		       					let value = '';
		       					value += '<li class="mailAddrOut cc-li">';
		       					value += '<span class="addrBlock">';
		       					value += addr;
		       					value += '</span>';
		       					value += '<span class="btnAddrRemove">';
		       					value += '<i class="fa-solid fa-xmark"></i>';
		       					value += '</span>';
		       					value += '</li>';
		       						  
		       					$('#cc').val('');
		       					$('#ccAddrWrap .mailAddrCreate').before(value);
		       					
		       					var currCc = $('#mailRef').val() || '';
		       					$('#mailRef').val(currCc.length > 0 ? currCc + "," + addr : addr);
		       					
		       					ccLimit();
		       				}
		       				
		       				/* 주소 중복체크(참조) */		       	
		       				function checkCcMail(addr) {
		       					var currToArr = $('#receiver').val().split(',');
		       					var currCcArr = $('#mailRef').val().split(',');
		       					var currBccArr = $('#mailBlind').val().split(',');
		       					
		       					if(currToArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#cc').val('');
		       						return false;
		       					} else if(currCcArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#cc').val('');
		       						return false;
		       					} else if(currBccArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#cc').val('');
		       						return false;	
		       					} else {
		       						return true;
		       					}
		       				}
		       		
		       				/* 주소 삭제(참조) */
		       				$(document).on('click', '#ccAddrWrap .fa-xmark', function(){
		       							       					
		       					$(this).parent().parent().remove();
		       					
		       					let currCcArr = $('#mailRef').val().split(',');
		       					
		       					let deleteCc = $(this).parent().prev().text().replace('\n', '');
		       					
		       					currCcArr.splice(currCcArr.indexOf(deleteCc), 1);
		       					
		       					$('#mailRef').val(currCcArr.join());
		       					
		       					ccLimit();
		       					
		       				})
		       				
		       				/* 참조 인원 제한 */
		       				function ccLimit() {
		       					if(document.querySelectorAll('.cc-li').length >= 5) {
		       						$('#cc').prop("readonly", true);
		       						alert('최대 5명까지만 발송이 가능합니다.');
		       					} else {
		       						$('#cc').prop('readonly', false);
		       					}
		       				}
		       				
		       				/* 숨은참조 13(엔터) 188(쉼표) */      				
		       				function bccBlock(event) {
		       					
		       					if(event.keyCode == 13) {
		       						var addr = $('#bcc').val().replace('\n', '');
		       					} else if(event.keyCode == 188) {
		       						var addr = $('#bcc').val().replace(',', '');
		       					}
		       					
		       					if(checkAddr(addr) == false) {
		       						$('#bcc').val('');
		       						return;
		       					}
		       				
		       					if(checkBccMail(addr) == false) {
		       						$('#bcc').val('');
		       						return;
		       					}
		       			
		       					let value = '';
		       					value += '<li class="mailAddrOut bcc-li">';
		       					value += '<span class="addrBlock">';
		       					value += addr;
		       					value += '</span>';
		       					value += '<span class="btnAddrRemove">';
		       					value += '<i class="fa-solid fa-xmark"></i>';
		       					value += '</span>';
		       					value += '</li>';
		       						  
		       					$('#bcc').val('');
		       					$('#bccAddrWrap .mailAddrCreate').before(value);
		       					
		       					var currBcc = $('#mailBlind').val() || '';
		       					$('#mailBlind').val(currBcc.length > 0 ? currBcc + "," + addr : addr);
		       					
		       					bccLimit();
		       				}
		       				
		       				/* 주소 중복체크(숨은참조) */		       		
		       				function checkBccMail(addr) {
		       					var currToArr = $('#receiver').val().split(',');
		       					var currCcArr = $('#mailRef').val().split(',');
		       					var currBccArr = $('#mailBlind').val().split(',');
		       					
		       					if(currToArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#bcc').val('');
		       						return false;
		       					} else if(currCcArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#bcc').val('');
		       						return false;
		       					} else if(currBccArr.includes(addr)) {
		       						alert('이미 입력한 주소입니다.');
		       						$('#bcc').val('');
		       						return false;	
		       					} else {
		       						return true;
		       					}
		       				}
		       	
		       				/* 주소 삭제(숨은참조) */
		       				$(document).on('click', '#bccAddrWrap .fa-xmark', function(){
		       					
		       					$(this).parent().parent().remove();
		       					
		       					let currBccArr = $('#receiver').val().split(',');
		       					
		       					let deleteBcc = $(this).parent().prev().text().replace('\n', '');
		       					
		       					currBccArr.splice(currBccArr.indexOf(deleteBcc), 1);
		       					
		       					$('#receiver').val(currBccArr.join());
		       					
		       					bccLimit();
		       					
		       				})
		       				
		       				/* 숨은참조 인원 제한 */		       				
		       				function bccLimit() {
		       					if(document.querySelectorAll('.bcc-li').length >= 5) {
		       						$('#bcc').prop("readonly", true);
		       						alert('최대 5명까지만 발송이 가능합니다.');
		       					} else {
		       						$('#bcc').prop('readonly', false);
		       					}
		       						
		       				}
	
		       				/* 주소 정규식 검사 */
		       				function checkAddr(addr) {
	       						let regExp = /^[A-Za-z0-9_]+@[A-Za-z0-9]{2,}(\.[A-Za-z]{2,6}){1,2}$/;
	       						
	       						verifyExp = regExp.test(addr);
	       						if(verifyExp) {
	       							return true;
	       						} else {
	       							alert('잘못된 주소 형식입니다.');
	       							return false;
	       						}
		       				}
		       				       						       				
		        		</script>

		        		<tr class="mailBox">
		        			<th class="fixedCol1">제목</th>
		        			<td  colspan="2" class="fixedCol2"><input type="text" id="title" name="title"></td>
		        		</tr>
		        		
		        		<tr>
		        			<th class="fixedCol1">파일첨부</th>
		        			<td colspan="2" class="fixedCol2">
	        					<input type="button" value="파일첨부" onclick="chooseFile()">
	        					<input type="button" value="전체삭제" onclick="fnReset()">
	        					<input type="file" id="files" name="files" multiple="multiple" onchange="fnFileCheck(this)" style="display:none;">
		        			</td>
		        		</tr>
		        		<tr>
		        			<td></td>
		        			<td colspan="2">	
	        					<div class="filesHeader">
		        					<div class="filesTitle">
		        						<span class="text">파일명</span>
		        					</div>
		        					<div class="AllSize">
		        						<span class="text">파일용량</span>
		        						<span class="fileSize">(KB)</span>
		        					</div>
		        				</div>		
		        			</td>		        			
		        		</tr>
		        		<tr id="tr-filebox">
		        			<td></td>
		        			<td>
		        				<div class="mailFileBox open" id="mailFileBox">
			        				<a class="fileEmpty">
				        				선택된 첨부파일이 없습니다.
				        				<span class="help" onmouseover="over();" onmouseout="out();">
					        				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#888" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="17" x2="12" y2="17"></line></svg>
											<span class="tool-tip top">
												각 첨부파일의 최대 크기는 10MB입니다.
											</span>
										</span>
									</a>
		        				</div>		        				 
		        			</td>
		        		</tr>
		        		
		        		<script>
	        			
		        			let fileArr = [];
		        			
		        			function chooseFile() {
		        				$("#files").click();
		        			}      	
		        			
	        			 	function over(){	        			 		
	        			 		$(".tool-tip").css("display", "inline-block");
							}
							
						    function out(){
						        $(".tool-tip").css("display", "none");
						    }     			
		        	
		        			function fnFileCheck(vThis){
		
		        				let maxSize = 1024 * 1024 * 10;		
		        				let files = vThis.files;	        					        				
		        				let value = "";			        				
		        				
		        				if(files.length === 0) {
		        					$('#mailFileBox').text('각 첨부파일의 최대 크기는 10MB입니다.');
		        					return;
		        				}
		        				
		        				$.each(files, function(i, file){
		        					
		        					if(file.size > maxSize){
		        						alert('각 첨부파일의 최대 크기는 10MB입니다.');
		        						$(vThis).val(''); 		        					
		        						return false;
		        					}
		        					
		        					let fileSize = Math.ceil(file.size / 1024);		
		        					
		        					let eachFile = $('<div class="eachFile"></div>');
		        			        let btnFileRemove = $('<span class="btnFileRemove"></span>');
		        			        let fileRemoveIcon = $('<i class="fa-solid fa-xmark" index="' + i + '"></i>');
		        			        let fileName = $('<span class="fileName">' + file.name + '</span>');
		        			        let fileSizeText = $('<span class="fileSize">' + fileSize + 'KB</span>');
		        			        
		        			        btnFileRemove.append(fileRemoveIcon);
		        			        eachFile.append(btnFileRemove);
		        			        eachFile.append(fileName);
		        			        eachFile.append(fileSizeText);
		        			        
		        			        $('#mailFileBox').append(eachFile);
		        					
		        				})        		        
		        				
		        				$(".fileEmpty").css('display', 'none');
		        			}     	
		        			
		        			$(document).on('click', '.btnFileRemove > .fa-xmark', function(){
		        				
		        				let index = parseInt($(this).attr('index'));
		        				
		        				$(this).closest('.eachFile').remove();
		        				
		        				let files = $('input[name="files"]')[0].files;
		        				fileArr = Array.from(files);
		        				
		        				fileArr.splice(index, 1);
		        				
		        				settingFile(fileArr);
		        				
		        				if($('.btnFileRemove').length == 0) {
		        					$('.file-empty').css('display', 'block');
		        				}
		        			})
		        			
		        			function fnReset(){
										
							    $('input[name="files"]').val('');
							    fileArr = [];							   
							    
							    $(".eachFile").remove();							    
							    
								$(".fileEmpty").css("display", "block");
								
							}
		        			
		        			function settingFile(fileArr){
								
								const dataTransfer = new DataTransfer();
							    fileArr.forEach(function(file){
							    	  dataTransfer.items.add(file);
							    })
								$('input[name="files"]')[0].files = dataTransfer.files;
							    
							}
		        			
	        			</script>
		        		
		        		<tr>
		        			<td colspan="3">
		        				<div><textarea id="content" name="content" class="content"></textarea></div>
		        			</td>
		        		</tr>
		        		
		        		<script>
						
							$('#content').summernote({
								width: '100%',
								height: 480,
								lang: 'ko-KR',
							  	toolbar: [
							    	['style', ['bold', 'italic', 'underline', 'clear']],
							    	['font', ['strikethrough', 'superscript', 'subscript']],
							    	['fontsize', ['fontsize']],
							    	['color', ['color']],
							    	['para', ['ul', 'ol', 'paragraph']],
							    	['table', ['table']],
									['view', ['fullscreen', 'codeview', 'help']]
							  	]
							})
							
						</script>
        			</tbody>
	        	
	        	</table>
	        </form>

	    </div>	<!--/* content-wrapper 끝나는 지점 */-->
	  </div>  <!--/* main-panel 끝나는 지점 */-->     
	</div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  
  <!--/* footer 영역 */-->
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

  </body>
  </html>