@charset "UTF-8";

.content-wrapper {
	background-color: white;
}

.info {
	display: flex;
	align-items: flex-end;
	gap: 16px;
	padding-bottom: 40px;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.totalMail {
	color: gray;
}

.contents {
	display: flex;
	flex-direction: column;
}

.contentCheck {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid gray;
	padding-bottom: 16px;
}
.category {
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.category input[type="button"]{
	background-color: transparent;
	border: none;
	font-weight: bold;
}

.changePage {
	display: flex;
	align-items: center;
	gap: 8px;
}

.toList{
	color: black;
}

.toList:hover {
	color: black;
	text-decoration: none;
}

input[type="radio"] {
	display: none;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.mainContent1, .mainContent2, .mainContent3, .mainContent4 {
	display: flex;
	align-items: center;
	white-space: nowrap;
}

.senderContent {
	display: flex;
	flex-wrap: wrap;
}

.mainContent, .attachTitle {
	display: flex;
	min-width: 130px;
	font-size: 16px;
	font-weight: bold;
}

.mailTitle {
	font-size: 24px;
	font-weight: bold;
	padding-top: 24px;
}

.recipient, .sender, .mailDateTime {
	font-size: 16px;
	padding-right: 16px;
}

.mainContent4 {
	border-bottom: 2px solid gray;
	padding-bottom: 24px;
}

.mailAttach {
	display: flex;
}

.filesHeader {
	display: flex;
	gap: 8px;
	align-items: center;
}

li {
	list-style: none;
}

.mailAttach {
	border-bottom: 2px solid gray;
	padding-bottom: 16px;
}

.attachList {
	border: 1px solid gray;
}

.maildetailContent {
	display: flex;
	padding: 24px 0;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: skyblue;
}

.fileBox {
	display: flex;
	flex-direction : column;
	gap: 8px;
}

.filesHeader {
	display: flex;
	gap: 200px;
}

.allSave {
	border : 1px solid gray;
	padding: 4px;
	border-radius: 8px;
	background-color: #4B49AC;
	color: white;
}
