@charset "UTF-8";

.content-wrapper {
	background-color: white;
}

.info {
	display: flex;
	align-items: flex-end;
	gap: 16px;
	padding-bottom: 40px;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.totalMail {
	color: gray;
}

.contents {
	display: flex;
	flex-direction: column;
}

.contentCheck {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid gray;
	padding-bottom: 16px;
}
.category {
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.search{
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.category input[type="button"]{
	background-color: transparent;
	border: none;
	font-weight: bold;
}

#column {
	height: 24px;
	width: 88px;
}

ul {
	padding: 0px;	
}

li {
	height: 40px;
	list-style: none;
}

.noMail {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.mailContent {
	display: flex;
	gap: 16px;
	align-items: center;
	border-bottom: 1px solid gray;
}

.mailCheck {
	display: flex;
	align-items: center;
	gap: 25px;
	width: 20%;
	padding: 4px;
}

input[type="radio"] {
	display: none;
}

.contentMail {
	display: flex;
	justify-content: space-between;
	width: 80%
}

.contentMailEmail {
	width: 35%;
}

.contentMailTitle {
	width: 50%;
}

.contentMailTitle a {
	color: black;
}

.contentMailDate {
	width: 15%;
}

.pagination {
	display: flex;
	justify-content: center;
}

.disabled {
	pointer-events: none;
}