@charset "UTF-8";

.content-wrapper {
	background-color: white;
}

.info {
	display: flex;
	align-items: flex-end;
	gap: 16px;
	padding-bottom: 40px;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.totalMail {
	color: gray;
}

.contents {
	display: flex;
	flex-direction: column;
}

.contentCheck {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid gray;
	padding-bottom: 16px;
}
.category {
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.search{
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.category input[type="button"]{
	background-color: transparent;
	border: none;
	font-weight: bold;
}

#column {
	height: 24px;
	width: 88px;
}
ul {
	padding: 0px;
}
li {
	list-style: none;
}

.noMail {
	display: flex;
	justify-content: center;
}

.mailContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
}

.mailCheck {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
	width: 15%
}

input[type="radio"] {
	display: none;
}

.contentMail {
	display: flex;
	justify-content: space-between;
	width: 80%
}

.contentMailEmail {
	width: 25%;
}

.contentMailTitle {
	width: 60%;
}

.contentMailDate {
	width: 15%;
}

.pagination {
	display: flex;
	justify-content: center;
	
}