@charset "UTF-8";

.content-wrapper {
	background-color: white;
}

.info {
	display: flex;
	align-items: center;
	gap: 16px;
}

.fixedCol1 a, .title {
	font-weight: bold;
}

#btnDraftsList {
	display: flex;
	background-color: transparent;
	border: none;
	color: gray;
}

.btnAddr {
	background-color: transparent;
}

.mailBox {
	height: 65px;
}

.fixedCol1 {
	width: 10%;
}

.fixedCol2 {
	width: 75%;
	margin: 0;
}

.fixedCol2 textarea {
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 2px solid gray;
}

.fixedCol3 {
	display: flex;
	align-content: flex-end;
	width: 4%;
}

.header {
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

.btn {
	background-color: none;
	text-decoration: bold;
}

.contents {
	width: 100%;
	padding-top: 16px;
}

.contents input[type="text"] {
	width: 100%;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid gray;
}

.fileAll {
	border: 1px solid gray;
}
.filesHeader{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid gray;
	padding: 4px;
}

li {
	list-style: none;
}
