@charset "UTF-8";

.content-wrapper {
	background-color: white;
}

.info {
	display: flex;
	align-items: center;
	gap: 16px;
}

.fixedCol1 a, .title {
	font-weight: bold;
}

#btnDraftsList {
	display: flex;
	background-color: transparent;
	border: none;
	color: gray;
}

.btnAddr {
	background-color: transparent;
}

.receiverBox {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	gap: 8px;
}

#to, #cc, #bcc {
	overflow: hidden;
	width: 200px;
}

.mailBox {
	height: 40px;
}

.fixedCol1 {
	width: 10%;
}

.fixedCol2 {
	width: 87%;
	margin: 0;
	border-bottom: 2px solid gray;
}

.fixedCol2 textarea {
	width: 100%;
	height: 30px;
	resize: none;
	border: none;
}

.fixedCol3 {
	
	display: flex;
	align-content: flex-end;
	width: 3%;
}

.header {
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

.btn {
	background-color: none;
	text-decoration: bold;
}

.contents {
	width: 100%;
	padding-top: 16px;
}

.contents input[type="text"] {
	width: 100%;
	background-color: transparent;
	border: none;
}

.fileAll {
	border: 1px solid gray;
}

.filesHeader{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid gray;
	padding: 4px;
}

.fileEmpty, .fileEmpty:hover {
	text-decoration: none;
	color: black;
	display: flex;
}

.tool-tip {
    visibility: hidden;
  }

.help:hover .tool-tip {
  visibility: visible;
  color: gray;
}

li {
	list-style: none;
}
