<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!-- settings -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>

  <!-- typeAliases -->
  <typeAliases>
		<typeAlias alias="BoardDTO"             type="com.gdu.workship.domain.BoardDTO" />
		<typeAlias alias="BoardFileDTO"         type="com.gdu.workship.domain.BoardFileDTO" />
		<typeAlias alias="BoardCommentDTO"      type="com.gdu.workship.domain.BoardCommentDTO" />
		<typeAlias alias="MailDTO"              type="com.gdu.workship.domain.MailDTO"/>
		<typeAlias alias="MailToDTO"            type="com.gdu.workship.domain.MailToDTO"/>
		<typeAlias alias="MailFileDTO"          type="com.gdu.workship.domain.MailFileDTO"/>
		<typeAlias alias="JobDTO"               type="com.gdu.workship.domain.JobDTO"/>
		<typeAlias alias="DepartmentDTO"        type="com.gdu.workship.domain.DepartmentDTO"/>
		<typeAlias alias="MemberDTO"            type="com.gdu.workship.domain.MemberDTO"/>
		<typeAlias alias="RetiredMemberDTO"     type="com.gdu.workship.domain.RetiredMemberDTO"/>
		<typeAlias alias="NoticeDTO"            type="com.gdu.workship.domain.NoticeDTO"/>
		<typeAlias alias="NoticeFileDTO"        type="com.gdu.workship.domain.NoticeFileDTO"/>
		<typeAlias alias="ReportDTO"            type="com.gdu.workship.domain.ReportDTO"/>
		<typeAlias alias="ApprovalDTO"          type="com.gdu.workship.domain.ApprovalDTO"/>
		<typeAlias alias="ApprovalFileDTO"      type="com.gdu.workship.domain.ApprovalFileDTO"/>
		<typeAlias alias="ApprovalLineDTO"      type="com.gdu.workship.domain.ApprovalLineDTO"/>
		<typeAlias alias="ApprovalReferenceDTO" type="com.gdu.workship.domain.ApprovalReferenceDTO"/>
		<typeAlias alias="ProjectDTO"           type="com.gdu.workship.domain.ProjectDTO"/>
		<typeAlias alias="IngDTO"               type="com.gdu.workship.domain.IngDTO"/>
    <typeAlias alias="ProjectFileDTO"       type="com.gdu.workship.domain.ProjectFileDTO"/>
    <typeAlias alias="ProjectWorkDTO"       type="com.gdu.workship.domain.ProjectWorkDTO"/>
    <typeAlias alias="ProjectWorkFileDTO"   type="com.gdu.workship.domain.ProjectWorkFileDTO"/>
    <typeAlias alias="AttendanceDTO"        type="com.gdu.workship.domain.AttendanceDTO"/>
    <typeAlias alias="AttendManageDTO"      type="com.gdu.workship.domain.AttendManageDTO"/>
    <typeAlias alias="TodolistDTO"          type="com.gdu.workship.domain.TodolistDTO"/>
    <typeAlias alias="VacationDTO"          type="com.gdu.workship.domain.VacationDTO"/>
  </typeAliases>

</configuration>