<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
                <!--/* 괄호 안에 이름 바꾸면 페이지 타이틀 정해집니다! */-->
<head th:replace="~{/layout/header::headFrag('부서 관리')}"></head>
<style>
  #msg {
    margin-left: 100px;
  }
</style>
<script th:inline="javascript">
  $(function() {
	  let addResult = /*[[${addResult}]]*/ null;
	  if(addResult !== null){
		  console.log('addResult:' + addResult);
      if(addResult === 1) {
        alert('부서 등록을 성공했습니다.');
      } else if(addResult === 2) {
        alert('이미 동일한 부서명이 존재합니다.');
      } else {
        alert('부서 등록을 실패했습니다.');
      }
    }
    
    let removeResult = /*[[${removeResult}]]*/ null;
    if(removeResult !== null){
      if(removeResult === 1) {
        alert('부서 삭제를 성공했습니다.');
      } else {
        alert('부서 삭제를 실패했습니다.');
      }
    }
    
  fnEditDept();
  fnModify();
  fnBtnCancel();
  })
  
</script>
<body>

  <div class="container-scroller">
    <!--/* 상단바 */-->
    <nav th:replace="~{/layout/common::topbarFrag}"></nav>

    <!--/* 본문영역 */-->
    <div class="container-fluid page-body-wrapper">
      <!--/* 테마설정버튼 영역 */-->
      <div th:replace="~{/layout/common::themeSettingFrag}"></div>   
      <!--/* 사이드바 영역 */-->
      <nav th:replace="~{/layout/sidebar::sidebarFrag}"></nav>
      
      <!--/* 실제 내용 영역 */-->
      <div class="main-panel">
        <div class="content-wrapper">
          
          <div class="row">
            <div class="col-md-12 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">부서 추가</p>
                    <div class="mb-3">
                      <form method="post" id="createDept" class="form-inline" th:action="@{/department/addDept.do}">
                        <label for="inputDeptName" class="col-sm-1 col-form-label">부서명</label>
                        <input type="text" class="form-control mb-2 mr-sm-2 col-sm-4" id="inputDeptName" name="deptName" placeholder="부서명을 입력해주세요.">
                        <button type="button" id="btnAdd" class="btn btn-primary mx-1 mb-2">부서 추가</button>
                        <button type="button" id="btnReset" class="btn btn-outline-info mx-1 mb-2">다시 입력</button>
                      </form>
                      <div id="msg" style="display: block;"></div>
                    </div>
                  <script>
                    var deptPass = false;
                  
                    $('#inputDeptName').on('keyup', function(){
                	    let inputDeptName = $(this).val();
                	    var regDept = /^[가-힣]{3,9}$/;
                	    
                	    if(inputDeptName.length == 0){
              	        $('#msg').text('');
              	        deptPass = false;
                	    } else if(regDept.test($('#inputDeptName').val())){
              	        $('#msg').text('부서명이 정상적으로 작성되었습니다.').css('color', '#0000FF').css('font-size', '14px');
              	        deptPass = true;
                	    } else {
              	        $('#msg').text('부서명은 한글로 3~9글자까지 가능합니다.').css('color', '#FF0000').css('font-size', '14px');
              	        deptPass = false;
                	    }
                    })
                    $('#btnAdd').on('click', function(event){
                    	if(confirm('새 부서 등록을 하시겠습니까?') == false) {
                    		event.preventDefault();
                    		return;
                    	}
                    	if(deptPass == false){
                        alert('부서명을 확인하세요.')
                        event.preventDefault();
                        return;
                      }
                    	$('#createDept').submit();
                    })
                    $('#btnReset').on('click', function(){
                    	$('#inputDeptName').val('');
                    	$('#msg').text('');
                    })
                  </script>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">부서 조회</p>
                  <table class="table table-sm table-striped text-center">
                    <thead>
                      <tr>
                        <th width="20%">부서번호</th>
                        <th width="20%">부서명</th>
                        <th width="20%">부서장</th>
                        <th width="20%">구성원 수</th>
                        <th width="20%">관리</th>
                      </tr>
                    </thead>
                    <tbody id="departmentListBody">
                      <th:block th:each="dept:${deptList}">
                        <tr class="trTag">
                          <td th:text="${dept.deptNo}"></td>
                          <td class="inputDeptName" th:text="${dept.deptName}"></td>
                          <td th:text="${dept.deptHead}"></td>
                          <td th:text="|${dept.memberCount} 명|"></td>
                          <td>
                            <form id="frmBtn">
                              <button type="button" class="btn btn-outline-secondary btn-sm btnEdit">수정</button>
                              <input type="hidden" class="inputHiddenDeptName" name="deptName">
                              <input type="hidden" class="inputHiddenDeptNo" name="deptNo" th:value="${dept.deptNo}">
                              <button type="button" class="btn btn-outline-danger btn-sm btnRemove" th:onclick="fnRemoveDept([[${dept}]])">삭제</button>
                            </form>
                          </td>
                        </tr>
                      </th:block>
                    </tbody>
                  </table>
                  <script>
                    function fnEditDept() {
                    	$(document).on('click', '.btnEdit', function(){
                    		// 부서명을 input 태그로
                    	  var tdDeptName = $(this).parents('.trTag').children('.inputDeptName');
                    		// console.log('tdDeptName: ' + tdDeptName.text());
                    		var inputDeptName = tdDeptName.text();
                    		var inputTag = $('<input>').attr({
                		      type: 'text',
                		      // style: 'style="text-align: center;"',
                		      class: 'form-control form-control-sm w-75 inputModify',
                		      style: 'display: block;',
                		      value: inputDeptName
                		    });
                    		var divTag = $('<div class="md-1" style="display: flex; justify-content: center;">').append(inputTag);
                    	  tdDeptName.empty().append(divTag);
                    		// tdDeptName.empty().append($('<div>')).append(inputTag);

                    		inputTag.focus();
                    		
                    		// 수정 버튼을 완료 버튼으로
                    		var frmBtn = $(this).parent();
                    		var btnEdit = $(this);
                    	  var btnModify = $('<button>').attr({
                    		  type: 'button',
                    		  class: 'btn btn-outline-secondary btn-sm btnModify'
                    	  });
                    	  btnEdit.remove();
                    	  frmBtn.prepend(btnModify.text('완료'));
                    		
                    	  // 삭제 버튼 + 취소 버튼
                    	  var btnRemove = frmBtn.find('.btnRemove');
                    	  var btnCancel = $('<button>').attr({
                    		  type: 'button',
                    		  class: 'btn btn-outline-warning btn-sm btnCancel'
                    		  // onclick: 'location.href="/department/deptList.html"'
                    	  });
                    	  // btnRemove.remove();
                    	  btnRemove.before(btnCancel.text('취소'));
                    	  
                    	  
                    	  // 검사 내용 출력할 <div>
                    	  str = '<div class="modifyMsg" style="display: none;"></div>';
                    	  inputTag.closest('td').append(str);
                    	  
                    	  // 수정할 때의 input 태그도 정규식으로 검사
                    	  $(document).on('keyup', '.inputModify', function(){
                          let keyupDeptName = $(this).val();
                          console.log('keyupDeptName : ' + keyupDeptName);
                          var regDept = /^[가-힣]{3,9}$/;
                          
                          let modifyMsg = $(this).closest('tr').find('.modifyMsg');
                          
                          if(keyupDeptName.length == 0){
                        	  modifyMsg.text('');
                            modifyMsg.attr("style", "display: none;");
                          } else if(regDept.test(keyupDeptName)){
                            modifyMsg.attr("style", "display: block;");
                            modifyMsg.text('부서명이 정상적으로 작성되었습니다.').css('color', '#0000FF').css('font-size', '8px');
                          } else {
                            modifyMsg.attr("style", "display: block;");
                            modifyMsg.text('부서명은 한글로 3~9글자까지 가능합니다.').css('color', '#FF0000').css('font-size', '8px');
                          }
                        })
                    	})
                    	
                    }
                    
                    function fnModify(){
                    	$(document).on('click', '.btnModify', function(){
                    		// console.log('inputname : ' + $(this).parent().parent().parent().children('.inputDeptName').find('input').val());
                    		// 수정용 <input type="text">
                    		var btnHiddenName = $(this).parent().parent().parent().children('.inputDeptName').find('input');
                    		
                    		// 수정용 <input type="text"> 의 밸류값(..팀)
                    		var hiddenName = btnHiddenName.val();
                    		console.log('hiddenName' + hiddenName);
                    		
                    		// 완료 버튼의 형제중 inputHiddenDeptName 과 inputHiddenDeptNo를 찾아준다.
                    		var inputHiddenDeptName = $(this).parent().find('.inputHiddenDeptName');
                    		var inputHiddenDeptNo = $(this).parent().find('.inputHiddenDeptNo');
                    		
                    		// inputHiddenDeptName의 value에 hiddenName을 넣어준다.
                    		$(this).next().val(hiddenName);
                    		var paramDeptName = $(this).next().val();
                    		var paramDeptNo = inputHiddenDeptNo.val();
                    		console.log('paramDeptName : ' + paramDeptName);
                    		console.log('paramDeptNo : ' + paramDeptNo);
                      	$.ajax({
                      		type: 'post',
                      		url: '/department/modifyDept.do',
                      		data: 'deptNo=' + paramDeptNo + '&deptName=' + paramDeptName,
                      		dataType: 'json',
                      		success: function(resData){
                      			console.log(resData);
                      			if(resData.modifyResult == 1){
                              alert('부서명이 수정되었습니다.');
                            } else {
                            	alert('부서명 수정을 실패했습니다.\n부서명을 확인해주세요.');
                            }
                          	location.href = '/department/dept.html';
                      		}
                      	})
                    	})
                    }
                    
                    function fnBtnCancel() {
                    	$(document).on('click','.btnCancel', function(){
                    		let inputDeptName = $(this).parent().parent().parent().children('.inputDeptName');
                    		let byDeptNo = inputDeptName.prev().text();
                    	  var parentFrm = $(this).parent();
                    	  var btnComplete = parentFrm.children('.btnModify');
                    	  var btnEditBack = $('<button>').attr({
                          type: 'button',
                          class: 'btn btn-outline-secondary btn-sm btnEdit'
                        });
                    	  
                    	  btnComplete.remove();
                    	  parentFrm.prepend(btnEditBack.text('수정'));
                    	  $(this).remove();
                    	  
                      	$.ajax({
                      		type: 'get',
                          url: '/department/loadDeptNameBack.do',
                          data: 'deptNo=' + byDeptNo,
                          dataType: 'json',
                          success: function(resData){
                        	  inputDeptName.text(resData.returnBackName);
                          }
                        })
                    	})
                    }
                    
                    function fnRemoveDept(dept) {
                    	console.log(dept);
                    	let deptName = dept.deptName;
                    	let deptNo = dept.deptNo;
                    	if(dept.memberCount != 0) {
                    		alert('부서에 구성원이 있다면 삭제할 수 없습니다.');
                    		return;
                    	} else {
                    		if(confirm(deptName + '을(를) 삭제하시겠습니까?')) {
                    			location.href = '/department/removeDept.do?deptNo=' + deptNo;
                    		} else {
                    			return;
                    		}
                    	}
                    }
                  </script>
                </div>
              </div>
            </div>
          </div>
            
        </div>  <!--/* content-wrapper 끝나는 지점 */-->
      </div>  <!--/* main-panel 끝나는 지점 */-->      
    </div>  <!--/* page-body-wrapper(사이드바+본문) 끝나는 지점 */-->
  </div>  <!--/* container-scroller(상단바+사이드바+본문) 끝나는 지점 */-->
  
  <!--/* footer 영역 */-->
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <footer th:replace="~{layout/footer::footerFrag}"></footer> 

</body>
</html>